cmhub-src-develop/public/api/ext/soap/ota/2007B/FS_OTA_MeetingProfile.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.009" id="OTA2003A2007B">
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:attributeGroup name="ArrivalInfoGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">This is the preferred start and end date of the meeting</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ArrivalDate" type="DateOrDateTimeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Preferred specific arrival date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DepartureDate" type="DateOrDateTimeType">
			<xs:annotation>
				<xs:documentation xml:lang="en">Preferred specific departure date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="MeetingProfile" type="MeetingProfileType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for the Meeting Profile.  Meeting Profiles messages can describe the following business objects: RFP,Lead,Booking,FutureBooking, and History.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AccountDescriptiveContentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The Account is the sponsor or "client" for whom the meeting is help</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Addresses" type="AddressesType" minOccurs="0"/>
			<xs:element name="ContactsInfo" type="ContactsInfoType" minOccurs="0"/>
			<xs:element name="URL" type="URL_Type" minOccurs="0"/>
			<xs:element name="Organization" type="CompanyNameType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="DandBCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">Dun and Bradstreet number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IATACode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">International Air Transport Association reference number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IndustryCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code used to define a type of industry as represented by the SIC and NAIC codes (code values are TBD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GeoMarketCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code of the geographic market that the account belongs to (code values are TBD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LanguageCode" type="xs:language">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code of the language used by the account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MarketSegmentCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code of the market segment that the account belongs to (code values are TBD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AltDateType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Altdate specifies a particular start and end date.  Multiples can be specified along with an indication of the desirability of the alternative</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DateTimeSpanType">
				<xs:attribute name="PreferenceID" type="StringLength1to16">
					<xs:annotation>
						<xs:documentation xml:lang="en">An alphanumeric field used to identify ranking of an alternative arrival date. (First Option, Second Option, etc...)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AltRangeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">If a particualr date alternative is too specific then a range of desired alternative dates can be supplied</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DateTimeSpanType">
				<xs:attribute name="DOWCode" type="DayOfWeekType"/>
				<xs:attribute name="PreferenceID" type="StringLength1to16">
					<xs:annotation>
						<xs:documentation xml:lang="en">An alphanumeric field used to identify ranking of an alternative arrival date. (First Option, Second Option, etc...)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AlternateDatesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This is a collection of alternate arrival dates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AlternateDate" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">This represents optional starting and ending dates.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="AltDate" type="AltDateType"/>
						<xs:element name="AltRange" type="AltRangeType"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactsInfoType">
		<xs:sequence>
			<xs:element name="ContactInfo" type="ContactPersonType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This element houses all the dates associated with this meeting.  The date classes contained within are Operational dates, Key Dates, and the actual meeting stay information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KeyDates" type="KeyDatesType" minOccurs="0"/>
			<xs:element name="StayInformation" type="StayInformationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventType">
		<xs:annotation>
			<xs:documentation xml:lang="en">catering events that are part of this meeting  (breakfast, breakout, dinner, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MeetingRoom" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="CodeListGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Revenues" type="RevenuesType" minOccurs="0"/>
			<xs:element name="EventInfo" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="EventNameText" type="StringLength1to64">
						<xs:annotation>
							<xs:documentation xml:lang="en">The name of the event.  This name may appear different than the posting name.	</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="EventStatusCode" type="StringLength1to16">
						<xs:annotation>
							<xs:documentation xml:lang="en">The status code of the event normally defined by the acceptance of a proposal or contract.  	(The 	code 	values are TBD).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="EventTypeCode" type="StringLength1to16">
						<xs:annotation>
							<xs:documentation xml:lang="en">The code that defines the type of event.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SetupTypeCode" type="StringLength1to16">
						<xs:annotation>
							<xs:documentation xml:lang="en">The code that defines the setup of the event.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SpecialSetupTypeCode" type="StringLength1to16">
						<xs:annotation>
							<xs:documentation xml:lang="en">code that defines the special setup of the event. A special setup is normally defined as a setup 	the 		decreases a setup's capacity. (eg. Rear Projection)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="AgreedAttendanceQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">Attendance for and event as agreed upon with the client.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ActualAttendanceQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">The actual attendance of an event as define during/after an event is taking place.		</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ExpectedAttendanceQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">Expected attendance is the attendance figure that is subjective and usually derived from the 	agreed 		figure and past experiences.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GuaranteedAttendanceQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">Guarantee attendance is the attendance figure that is contractually agreed upon by the client 	and the 		property.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Moveable" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="en">Can the event be moved to another function room ? (Yes|No)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SpecialRequestText" type="StringLength1to64">
						<xs:annotation>
							<xs:documentation xml:lang="en">This field allows for a free form textual description of any Special Requests regarding the setup 	of 	the 	event.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="StartDateTime" type="DateOrDateTimeType">
			<xs:annotation>
				<xs:documentation xml:lang="en">Start time of the event using the format specified by ISO 8601:YYY-MM-DDThh: mm: ssZ with time values using the 24-hour (military) clock. For example: March-31-2001, 4:10:00 pm UTC becomes 2001-03-31T16:10:00Z.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EndDateTime" type="DateOrDateTimeType">
			<xs:annotation>
				<xs:documentation xml:lang="en">End time of the event. Same time format as StartTime.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SetupTime" type="xs:time">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total amount of time that is required to Setup an event.  This time is considered above and beyond the event start and end times.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TeardownTime" type="xs:time">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total amount of time that is required to teardown an event.  This time is considered above and 	beyond the event start and end times.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PostAsText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">or the posting name of the event.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExhibitBoothsQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total amount of booths required.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EventID" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">a unique identifier for this event.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EventsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">a collection of catering events</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Event" type="EventType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GuestroomsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This collection of Guestroom classes holds all the guest room block details for the meeting.  The attributes on the base collection class represent the aggregates across all days of the meeting.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Guestroom">
				<xs:annotation>
					<xs:documentation xml:lang="en">this represents detailed information about  particular guestroom inventory on a specific date.		</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="DateNumber" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">This number represents the actual day within the stay.  For example, if the number was 1 , this 		would indicate the guestroom block for the first day of the stay.  This is also optional if the actual date is specified in
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RoomTypeCode" type="StringLength1to16" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Code defining the room type specified for this meeting.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RoomTypeCodeContext" type="StringLength1to64" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Text name of the room specified for this meeting.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="OccupancyCode" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Occupancy code for the guestrooms in this meeting.  (Single, Double, Triple, Quad, XChild, 	XAdult, 	Total)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Single"/>
								<xs:enumeration value="Double"/>
								<xs:enumeration value="Triple"/>
								<xs:enumeration value="Quad"/>
								<xs:enumeration value="XChild"/>
								<xs:enumeration value="XAdult"/>
								<xs:enumeration value="Total"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="AgreedQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">The number of guestrooms agreed to by the client and the property.  Commonly displayed on a 		contact.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="BlockQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">number of guestrooms blocked by the property.  This number is based on the agreed number 	and 	client history.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="PickUpQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">Number of guestrooms that were actually utilized or "picked up" by the client.		</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ForecastQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">ForecastQuantity a field where a user can define a subjective forecast for the number of 		guestrooms.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RateAmount" type="xs:float">
						<xs:annotation>
							<xs:documentation xml:lang="en">Currency amount assigned to each of the rooms by type.  This number is expressed in a 		currency defined by the RoomsQuotedCurrencyCode. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GuestNumber" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">Number of guests in the corresponding guestrooms, by date.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="StayDate" type="DateOrDateTimeType">
						<xs:annotation>
							<xs:documentation xml:lang="en">Date specific to a guestroom that is blocked.  This is optional if the sender specifies the 	DateNumber 	instead.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="TotalAgreedQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total agreed quantity of guestrooms for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TotalBlockQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total blocked quantity of guestrooms for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TotalPickUpQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total picked up quantity of guestrooms for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TotalForecastQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total forcast quantity of guestrooms for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TotalGuestQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Number of guests in the corresponding guestrooms for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AverageRateAmount" type="xs:float">
			<xs:annotation>
				<xs:documentation xml:lang="en">rate for the guestrooms for the entire meeting defined in the Rooms Quoted Currency code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PeakRoomsQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">The highest number or rooms, by night, for this booking.  If the pattern is 50/50/65/50 the peak rooms are 65.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RoomsQuotedCurrencyCode" type="AlphaLength3">
			<xs:annotation>
				<xs:documentation xml:lang="en">The ISO standard code representing currency amounts.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="HotelType">
		<xs:sequence>
			<xs:element name="HotelRef">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength1to64">
							<xs:attributeGroup ref="CodeListGroup"/>
							<xs:attributeGroup ref="HotelReferenceGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContactsInfo" type="ContactsInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyDatesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Collection of KeyDate</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KeyDate" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">A date and/or time in the following format "2000-05-21T00:00:00"</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DateOrDateTimeType">
							<xs:attribute name="Code" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="en">Code defining the usage of the KeyDate (DecisionDue | CutOff | DateBooked | 	HoldSpaceUntil 	| OfferIsValidUntil)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="DecisionDue"/>
										<xs:enumeration value="CutOff"/>
										<xs:enumeration value="DateBooked"/>
										<xs:enumeration value="HoldSpaceUntil"/>
										<xs:enumeration value="OfferIsValidUntil"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MeetingProfileType">
		<xs:sequence>
			<xs:element name="Hotel" type="HotelType" minOccurs="0"/>
			<xs:element name="Dates" type="DatesType" minOccurs="0"/>
			<xs:element name="Events" type="EventsType" minOccurs="0"/>
			<xs:element name="Guestrooms" type="GuestroomsType" minOccurs="0"/>
			<xs:element name="AccountDescriptiveContent" type="AccountDescriptiveContentType" minOccurs="0"/>
			<xs:element name="Organizations" type="OrganizationsType" minOccurs="0"/>
			<xs:element name="Revenues" type="RevenuesType" minOccurs="0"/>
			<xs:element name="Concessions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Commission" type="CommissionType"/>
					</xs:sequence>
					<xs:attribute name="CompRooms" type="StringLength1to64"/>
					<xs:attribute name="CompRoomsPer" type="StringLength1to64"/>
					<xs:attribute name="TotalCompRooms" type="StringLength1to64"/>
					<xs:attribute name="Rebate" type="StringLength1to64"/>
					<xs:attribute name="RebatePer" type="StringLength1to64"/>
					<xs:attribute name="TotalRebate" type="StringLength1to64"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecipientResponse" type="RecipientResponseType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="MeetingID" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">Vendor specific unique Identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MeetingProfileTypeCode">
			<xs:annotation>
				<xs:documentation xml:lang="en">Meeting Profile can be: RFP,Lead,Booking,FutureBooking, and History</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="StringLength1to64">
					<xs:enumeration value="RFP"/>
					<xs:enumeration value="Lead"/>
					<xs:enumeration value="Booking"/>
					<xs:enumeration value="FutureBooking"/>
					<xs:enumeration value="History"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MeetingAbbrevText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Booking Code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MeetingControlID" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">Booking Control ID</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ReservationID" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">This may be an ID assigned by a PMS system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PostAsText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Name or the posting name of the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ReservationTypeCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">This code describes the type of reservation used when creating this meeting (code values are TBD )</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MarketSegmentCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code of the market segment that the meeting belongs to (code values are TBD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="StatusCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code describing the status of the booking.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ContractTypeCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code describing the type of contract employed in creating the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="StatusReasonText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">A free form text field to describe the disposition of the status for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GuestQuantity" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total amount of guests attending the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SpecialRequestText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Free form text to communicate any special requests for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CommentText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Free form text to communicate additional information about the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MeetingTypeCode" type="StringLength1to16"/>
		<xs:attribute name="Materialization" type="StringLength1to64"/>
	</xs:complexType>
	<xs:complexType name="OrganizationsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of  Organization</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Organization" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">These are related organizations such as agencies, vendors, and supliers</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Addresses" type="AddressesType" minOccurs="0"/>
						<xs:element name="ContactsInfo" type="ContactsInfoType" minOccurs="0"/>
						<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0"/>
						<xs:element name="URL" type="URL_Type" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="UsageCode" type="StringLength1to16" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">A code that describes the contextual relationship of this address.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="UsageCodeContextText" type="StringLength1to64" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">A code that describes the contextual relationship of this organization.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecipientResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Response generated after receiving an RFP.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Dates" type="DatesType" minOccurs="0"/>
			<xs:element name="Commission" type="CommissionType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="StatusCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">The status code of the recipient response defines the acceptance or rejection of the Lead (code values are TBD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="StatusReasonText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">The recipient responders reason for choosing a particular status code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ResponseExplanationText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Text field providing additional information about the status reason.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RevenuesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">collection of revenues</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Revenue" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">A revenue amount, denominated in the defined currency.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="CurrencyAmountGroup"/>
					<xs:attribute name="RevCode" type="StringLength1to16" use="required"/>
					<xs:attribute name="RevTypeCode" type="StringLength1to16" use="required"/>
					<xs:attribute name="RevCategoryCode" type="StringLength1to16"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StayInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This element describes the beginning, ending, and duration of a stay in units of time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ArrivalInfo" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="ArrivalInfoGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="AlternateDates" type="AlternateDatesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
<!-- OTA_SimpleTypes.xsd --><xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="DateOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A construct to validate either a date or a dateTime value.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:dateTime"/>
	</xs:simpleType><xs:simpleType name="DateOrTimeOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A construct to validate either a date or a time or a dateTime value.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:dateTime xs:time"/>
	</xs:simpleType><xs:simpleType name="DayOfWeekType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A three letter abbreviation for the days of the week (e.g. may be the starting date for the availability requested, days of operation, rate effective day, etc.).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Mon"/>
			<xs:enumeration value="Tue"/>
			<xs:enumeration value="Wed"/>
			<xs:enumeration value="Thu"/>
			<xs:enumeration value="Fri"/>
			<xs:enumeration value="Sat"/>
			<xs:enumeration value="Sun"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="DurationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows for the specification of a night duration.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:duration NightDurationType"/>
	</xs:simpleType><xs:simpleType name="ISO3166">
		<xs:annotation>
			<xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Money">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NightDurationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides the ability to define a duration in terms of nights rather than days.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="P[0-9]{1,3}N"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, minimum length 1, maximum length 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 5</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Percentage">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for percentage values</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.00"/>
			<xs:maxInclusive value="100.00"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="RPH_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">(Reference Place Holder) - an index code to identify an instance in a collection of like items.. For example,  used to assign individual passengers or clients to particular itinerary items.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StateProvCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The standard code or abbreviation for the state, province, or region</xs:documentation>
		</xs:annotation>
		<xs:restriction base="StringLength1to8">
			<xs:minLength value="2"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to255">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 255</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType><!-- OTA_HotelCommonTypes.xsd --><xs:complexType name="AddressesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The HotelAddress class defines the addresses at this hotel facility.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Address" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="AddressInfoType">
							<xs:attributeGroup ref="RemovalGroup"/>
							<xs:attributeGroup ref="ID_OptionalGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">The ID attribute in this group is a unique identifying value assigned by the creating system and may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType><!-- OTA_CommonTypes.xsd --><xs:complexType name="AddressInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about an address that identifies a location for a specific purposes.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AddressType">
				<xs:attributeGroup ref="DefaultIndGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Indicates whether or not this is the default address.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="UseType" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Describes the use of the address (e.g. mailing, delivery, billing, etc.). Refer to OTA Code List Address Use Type (AUT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="RPH" type="RPH_Type" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used elsewhere in the message to reference this specific address.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides address information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StreetNmbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">May contain the street number and optionally the street name.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StreetNmbrType">
							<xs:attribute name="StreetNmbrSuffix" type="StringLength1to8" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Usually a letter right after the street number (A in 66-A, B in 123-B etc).</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="StreetDirection" type="StringLength1to8" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Street direction of an address (e.g., N, E, S, NW, SW). 

</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="RuralRouteNmbr" type="NumericStringLength1to5" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Numerical equivalent of a rural township as defined within a given area (e.g., 12, 99).</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BldgRoom" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">Building name, room, apartment, or suite number.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to64">
							<xs:attribute name="BldgNameIndicator" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">When true, the information is a building name.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddressLine" type="StringLength1to255" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">When the address is unformatted (FormattedInd="false") these lines will contain free form address details. When the address is formatted and street number and street name must be sent independently, the street number will be sent using StreetNmbr, and the street name will be sent in the first AddressLine occurrence.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" type="StringLength1to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">City (e.g., Dublin), town, or postal station (i.e., a postal service territory, often used in a military address).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="StringLength1to16" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Post Office Code number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="County" type="StringLength1to32" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">County or Region Name (e.g., Fairfax).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateProv" type="StateProvType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">State or Province name (e.g., Texas).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="CountryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country name (e.g., Ireland).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="FormattedInd">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies if the associated data is formatted or not.  When true, then it is formatted; when false, then not formatted.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of address information between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="Type" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the type of address (e.g. home, business, other). Refer to OTA Code List Communication Location Type (CLT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="CommissionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains details pertaining to commissions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UniqueID" type="UniqueID_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the recipient of the commission.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommissionableAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The amount on which commission is calculated.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="CurrencyAmountGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Provides the currency amount on which the commission is applied.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
					<xs:attribute name="TaxInclusiveIndicator" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true, indicates that the commission is calculated using the rate including tax. When false, indicates that the commission is calculated using the net rate.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="PrepaidAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The amount of commission paid to the agency prior to the service being rendered.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="CurrencyAmountGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Provides the amount of commission paid to the agency prior to the service being rendered.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="FlatCommission" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A fixed commission amount.  </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="CurrencyAmountGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">A fixed commission amount.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="CommissionPayableAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The amount of commission to be paid.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="CurrencyAmountGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">The amount of commission to be paid.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="Comment" type="ParagraphType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Text related to the commission.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="StatusType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the status of the commission payment itself (e.g. no-show indicates that a different commission may be applied if the reservation is not fulfilled).</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Full">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates full commission.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Partial">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates partial commission.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Non-paying">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates no commission.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="No-show">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates customer did not use the reserved product or service and did not cancel. This "no show" may impact commission.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Adjustment">
						<xs:annotation>
							<xs:documentation xml:lang="en">Indicates the commission is being adjusted.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Percent" type="Percentage" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The percent applied to the commissionable amount to determine the commission payable amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="CurrencyCodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the currency to be applied to the amounts located in the child elements.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="ReasonCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the reason why a commission is not paid or not paid in full.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BillToID" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies who should be billed for the commission amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Frequency" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the frequency at which the commission is applied (e.g. per stay, daily). Refer to OTA Code List Charge Type (CHG).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaxCommissionUnitApplies" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Maximum number of units for which the commission will be applied. This may be used in conjunction with the frequency attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CapAmount" type="Money" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The highest monetary value that may be paid for the commission.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="CompanyNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to128">
				<xs:attributeGroup ref="CompanyID_AttributesGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="Division" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The division name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Department" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The department name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="ContactPersonType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of an individual and appropriate contact information.  May be contact information for the customer or someone affiliated with the customer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonName" type="PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">This provides name information for a person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telephone" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about a telephone number, including the actual number and its usage</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="TelephoneInfoGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Information about a contact's telephone number, including the actual number and its usage.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="Address" type="AddressInfoType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information about an address that identifies a location for a specific purposes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="EmailType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Electronic email addresses, in IETF specified format.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="URL_Type" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Web site address, in IETF specified format.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeInfo" type="EmployeeInfoType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Employment identification; using an employee ID number, title, level within the company, and an indication of their status, i.e.: active, retired, on leave, or terminated from employment.  Additional information about an employee can be entered into the element, including the name of the employee, if it differs from the person name identified as a customer or contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of data between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="DefaultIndGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates that the receiving system should assume the default value if the user specifies no overriding value or action.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="ContactType" type="StringLength1to32">
			<xs:annotation>
				<xs:documentation xml:lang="en">Type of contact in the context of use for the travel experience; such as permanent, temporary, affiliation,
 travel arranger, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Relation" type="StringLength1to32">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the type of relationship with the person or company in the profile, such as Spouse, Child, Family, Business Associate, Interest Group, Medical, Security,Other, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EmergencyFlag" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates if this contact should be used in the case of an emergency.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RPH" type="RPH_Type">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a unique reference to this contact person.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CommunicationMethodCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides the preferred method of communication.  Refer to OTA code list Distribution Type (DTB).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocumentDistribMethodCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the method of distribution for the booking documentation.  Refer to OTA code list Distribution Type (DTB).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="CountryNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The name or code of a country (e.g. as used in an address or to specify citizenship of a traveller).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="Code" type="ISO3166" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">ISO 3166 code for a country.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="DateTimeSpanType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify a time window range by either specifying an earliest and latest date for the start date and end date or by giving a date with a time period that can be applied before and/or after the start date.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="DateWindowRange" type="TimeInstantType">
				<xs:annotation>
					<xs:documentation>Specifies a time period that can be applied before and/or after the start date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="StartDateWindow" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The earliest and latest dates acceptable for the start date.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attributeGroup ref="TimeWindowGroup">
							<xs:annotation>
								<xs:documentation xml:lang="en">Identifies a date range.</xs:documentation>
							</xs:annotation>
						</xs:attributeGroup>
					</xs:complexType>
				</xs:element>
				<xs:element name="EndDateWindow" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The earliest and latest dates acceptable for the end date.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attributeGroup ref="TimeWindowGroup">
							<xs:annotation>
								<xs:documentation xml:lang="en">Identifies a date range.</xs:documentation>
							</xs:annotation>
						</xs:attributeGroup>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:choice>
		<xs:attributeGroup ref="DateTimeSpanGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the date and/or time span.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType><xs:complexType name="EmailType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Electronic email addresses, in IETF specified format.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength1to128">
				<xs:attributeGroup ref="PrivacyGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Allows for control of the sharing of email information between parties.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attributeGroup ref="DefaultIndGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies whether or not this is the default email address.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="EmailType" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines the purpose of the e-mail address (e.g. personal, business, listserve). Refer to OTA Code List Email Address Type (EAT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="RPH" type="RPH_Type" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used elsewhere in the message to reference this specific email address.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="EmployeeInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Employment identification; using an employee ID number, title, level within the company, and an indication of their status (e.g., active, retired, on leave, or terminated from employment).  Additional information about an employee can be entered into the element, including the name of the employee, if it differs from the person name identified as a customer or contact.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="EmployeeId" type="StringLength1to16">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifier assigned to the employee.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="EmployeeLevel" type="StringLength1to16">
					<xs:annotation>
						<xs:documentation xml:lang="en">Level in employer organization (e.g. seniority) that coveys privileges.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="EmployeeTitle" type="StringLength1to64">
					<xs:annotation>
						<xs:documentation xml:lang="en">Title of employee in the employer company that conveys rank or privileges.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="EmployeeStatus" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Status of employment. Refer to OTA Code List Employee Status (EMP).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="FormattedTextTextType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides text and indicates whether it is formatted or not.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Formatted" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Textual information, which may be formatted as a line of information, or unformatted, as a paragraph of text.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="LanguageGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">The language in which the text is provided.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="ParagraphType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An indication of a new paragraph for a sub-section of a formatted text message.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Text" type="FormattedTextTextType">
				<xs:annotation>
					<xs:documentation>Formatted text content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Image" type="xs:string">
				<xs:annotation>
					<xs:documentation>An image for this paragraph.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>A URL for this paragraph.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListItem">
				<xs:annotation>
					<xs:documentation>Formatted text content and an associated item or sequence number.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="FormattedTextTextType">
							<xs:attribute name="ListItem" type="xs:integer" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Name" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">In many cases the description repeats, this will allow you to define the information that is being sent, typically used when multiple occurrences of ParagraphType are being sent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ParagraphNumber" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The sequence number for the paragraph.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="DateTimeStampGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Creation date time, Creator ID, last modification date time and last modifier ID for the paragraph.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="LanguageGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">The language for this paragraph.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType><xs:complexType name="PersonNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This provides name information for a person.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamePrefix" type="StringLength1to16" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Salutation of honorific. (e.g., Mr. Mrs., Ms., Miss, Dr.) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GivenName" type="StringLength1to64" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Given name, first name or names</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="StringLength1to64" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">The middle name of the person name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurnamePrefix" type="StringLength1to16" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">e.g "van der", "von", "de" </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Surname" type="StringLength1to64">
				<xs:annotation>
					<xs:documentation xml:lang="en">Family name, last name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameSuffix" type="StringLength1to16" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hold various name suffixes and letters (e.g. Jr., Sr., III, Ret., Esq.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTitle" type="StringLength1to16" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Degree or honors (e.g., Ph.D., M.D.)   </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of person name data between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="NameType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Type of name of the individual, such as former, nickname, alternate or alias name. Refer to OTA Code List Name Type (NAM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="StateProvType">
		<xs:annotation>
			<xs:documentation xml:lang="en">State, province, or region name or code needed to identify location.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="StateCode" type="StateProvCodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">The standard code or abbreviation for the state, province, or region.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="StreetNmbrType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Street name; number on street.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="PO_Box" type="StringLength1to16">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines a Post Office Box number.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="TimeInstantType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a time window.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DateOrDateTimeType">
				<xs:attribute name="WindowBefore" type="xs:duration" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">A period of time that can be applied to another time resulting in an earlier range of time.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="WindowAfter" type="xs:duration" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">A period of time that can be applied to another time resulting in a later range of time.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CrossDateAllowedIndicator" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">When true the requested period may extend over the previous or following day. When false, the search period is restricted to the date specified. Normally used when the window duration is in hours.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="URL_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Web site address, in IETF specified format.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attributeGroup ref="PrivacyGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Allows for control of the sharing of URL data between parties.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="Type" type="StringLength1to16" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines the purpose of the URL address, such as personal, business, public, etc.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="DefaultIndGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Indicates whether or not this is the default URL.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="UniqueID_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">An identifier used to uniquely reference an object in a system (e.g. an airline reservation reference, customer profile reference, booking confirmation number, or a reference to a previous availability quote). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the company that is associated with the UniqueID.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="UniqueID_Group"/>
	</xs:complexType><xs:attributeGroup name="AreaID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">An identifier of a geographical area.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AreaID" type="NumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An identifier of an area as defined by a hotel reservation system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify a code and the context of the code.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Code" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Any code used to specify an item, for example, type of traveler, service code, room amenity, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the source authority for the code. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CodeListGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify a code and its associated attributes; meaning is derived from actual use.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="CodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to specify a code and the context of the code.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="URI" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the location of the code table</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="QuantityGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the number of items that are identified by the Code (e.g., 2 adults, 5 first class seats).</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="CompanyID_AttributesGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CompanyShortName" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide the company common name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">
Refer to OTA Code List Travel Sector (TVS).
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as DUNS, IATA or internal code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyAmountGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a monetary amount and the currency code to reflect the currency in which this amount is expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amount" type="Money" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A monetary amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="CurrencyCodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed as well as the number of decimal places of that currency.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the number of decimal places for a particular currency. This is equivalent to the ISO 4217 standard "minor unit". Typically used when the amount provided includes the minor unit of currency without a decimal point (e.g., USD 8500 needs DecimalPlaces="2" to represent $85).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="DateTimeSpanGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">The attributes of the  OTA DateTimeSpan data type are based on the W3C base data types of timeInstant and timeDuration. The lexical representation for timeDuration is the [ISO 8601] extended format PnYn MnDTnH nMnS, where nY represents the number of years, nM the number of months, nD the number of days, 'T' is the date/time separator, nH the number of hours, nM the number of minutes and nS the number of seconds. The number of seconds can include decimal digits to arbitrary precision. As an example, 7 months, 2 days, 2hours and 30 minutes would be expressed as P0Y7M2DT2H30M0S. Truncated representations are allowed provided they conform to ISO 8601 format. Time periods, i.e. specific durations of time, can be represented by supplying two items of information: a start instant and a duration or a start instant and an end instant or an end instant and a duration. The OTA standards use the XML mapping that provides for two elements to represent the specific period of time; a startInstant and a duration.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Start" type="DateOrTimeOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The starting value of the time span. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Duration" type="DurationType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The duration datatype represents a combination of year, month, day and time values representing a single duration of time, encoded as a single string. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="End" type="DateOrTimeOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The ending value of the time span. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="DateTimeStampGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Creation date time, Creator Id, last modification date time and last Modifier Id.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CreateDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreatorID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">ID of creator. The creator could be a software system identifier or an identifier of an employee resposible for the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifyDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of last modification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifierID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the last software system or person to modify a record.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PurgeDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Date an item will be purged from a database (e.g., from a live database to an archive).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="DefaultIndGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates that the receiving system should assume the default value if the user specifies no overriding value or action.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DefaultInd" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates a default value should be used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="FormattedInd">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies if the associated data is formatted into its individual pieces, or exists as a single entity.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FormattedInd" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies if the associated data is formatted or not.  When true, then it is formatted; when false, then not formatted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="HotelReferenceGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">HotelReference: The hotel reference identifies a specific hotel by using the Chain Code, the Brand Code, and the Hotel Code.  The codes used are agreed upon by trading partners.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ChainCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that identifies a hotel chain or management group. The hotel chain code is decided between vendors.  This attribute is optional if the hotel is an independent property that can be identified by the HotelCode attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BrandCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A code that identifies the brand or flag of a hotel, often used for independently-owned or franchised properties who are known by a specific brand.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code that uniquely identifies a single hotel property. The hotel code is decided between vendors.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCityCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA city code; for example DCA, ORD.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelName" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en"> A text field used to communicate the proper name of the hotel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelCodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A text field used to communicate the context (or source of - ex Sabre, Galileo, Worldspan, Amadeus) the HotelReferenceGroup codes.
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChainName" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The name of the hotel chain (e.g., Hilton, Marriott, Hyatt).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BrandName" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The name of a brand of hotels (e.g., Courtyard, Hampton Inn).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="AreaID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">An identifier of an area as defined by a hotel reservation system.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="ID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" type="StringLength1to32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system.  The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ID_OptionalGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide an optional unique identifier.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system.  The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="LanguageGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies language.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Language" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Language identification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrivacyGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows for control of the sharing of data between parties.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShareSynchInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en"> value="Inherit" Permission for sharing data for synchronization of information held by other travel service providers.							</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShareMarketInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en"> value="Inherit" Permission for sharing data for marketing purposes.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="QuantityGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to define a quantity.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Quantity" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to define the quantity for an associated element or attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="RemovalGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">This is used to indicate that an item is obsolete.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Removal" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">If true, this item is obsolete and should be removed from the receiving system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="TelephoneAttributesGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides telephone information details.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PhoneLocationType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Refer to OTA Code List Phone Location Type (PLT).
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PhoneTechType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates type of technology associated with this telephone number, such as Voice, Data, Fax, Pager, Mobile, TTY, etc. Refer to OTA Code List Phone Technology Type (PTT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PhoneUseType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Describes the type of telephone number, in the context of its general use (e.g. Home, Business, Emergency Contact, Travel Arranger, Day, Evening). Refer to OTA Code List Phone Use Type (PUT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CountryAccessCode" type="NumericStringLength1to3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code assigned by telecommunications authorities for international country access identifier.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AreaCityCode" type="NumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code assigned for telephones in a specific region, city, or area.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PhoneNumber" type="StringLength1to32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Telephone number assigned to a single location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Extension" type="NumericStringLength1to5" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Extension to reach a specific party at the phone number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PIN" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Additional codes used for pager or telephone access rights.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Remark" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A remark associated with the telephone number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="TelephoneGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Detailed telephone information.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of telephone information between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="TelephoneAttributesGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides telephone information details.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="FormattedInd">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies if the associated data is formatted into its individual pieces, or exists as a single entity.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="TelephoneInfoGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about a telephone number, including the actual number and its usage</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="TelephoneGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Detailed telephone information.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="DefaultIndGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates that the receiving system should assume the default value if the user specifies no overriding value or action.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="RPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used elsewhere in the message to reference a specific telephone number (including faxes).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="TimeWindowGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Total time span covered by this availability request (from the earliest arrival to the latest departure)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EarliestDate" type="DateOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The earliest ending date/time for the availability requested, expressed in dateTime format as prescribed by ISO 8601.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LatestDate" type="DateOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The latest ending date/time for the availability requested, expressed in dateTime format as prescribed by ISO 8601.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DOW" type="DayOfWeekType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The Day of Week of the starting date for the availability requested. Enumerated values of StartDOW are the seven days of the week: Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, or Sunday.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="UniqueID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides unique identification information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="URL" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation xml:lang="en">URL that identifies the location associated with the record identified by the UniqueID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference to the type of object defined by the UniqueID element. Refer to OTA Code List Unique ID Type (UIT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Instance" type="StringLength1to32">
			<xs:annotation>
				<xs:documentation xml:lang="en">The identification of a record as it exists at a point in time. An instance is used in update messages where the sender must assure the server that the update sent refers to the most recent modification level of the object being updated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="ID_Context" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the source of the identifier (e.g., IATA, ABTA).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup></xs:schema>
