cmhub-src-develop/public/api/ext/soap/ota/2007B/FS_OTA_AirDemandTicketRQ.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.002" id="OTA2007B">
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_AirDemandTicketRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides the capability of requesting that a company responsible for ticket fulfillment, such as a GDS, issue an electronic ticket and/or automated miscellaneous charge order (MCO).  The ticket fulfillment company would then issue the ticket using the current EDIFACT message.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Specifies the point of ticketing information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DemandTicketDetail">
					<xs:annotation>
						<xs:documentation xml:lang="en">Specifies the information necessary for the issuer of the ticket to issue the ticket. </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the plating carrier code.</xs:documentation>
						</xs:annotation>
						<xs:sequence>
							<xs:element name="MessageFunction" minOccurs="0" maxOccurs="4">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the ticketing function to be done - an ET, itinerary invoice, or an automated MCO or a combination of functions.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Function" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies the ticketing function to be performed.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="ET">
													<xs:annotation>
														<xs:documentation xml:lang="en">Issue an electronic ticket.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="ItineraryInvoice">
													<xs:annotation>
														<xs:documentation xml:lang="en">Provide an itinerary invoice.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="AutomatedMCO">
													<xs:annotation>
														<xs:documentation xml:lang="en">Issue an automated miscellaneous charge order.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Interface">
													<xs:annotation>
														<xs:documentation xml:lang="en">Send request to back office accounting.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="BookingReferenceID" type="UniqueID_Type">
								<xs:annotation>
									<xs:documentation xml:lang="en">The PNR record locator for which a ticket is requested.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CustomDiscountPricing" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">The information needed when a passenger presents a discount/promotional coupon for a dollar/percentage of the fare or when a passenger qualifies for a percentage discount such as a senior discount.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Discount" type="MoneyOrPercentageType" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">The dollar amount or percentage of discount that should be applied.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Type" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies the type of amount being sent.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="Amount">
													<xs:annotation>
														<xs:documentation xml:lang="en">The discount is an amount.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Percent">
													<xs:annotation>
														<xs:documentation xml:lang="en">The discount is a percentage value.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="PlusUpAmount">
													<xs:annotation>
														<xs:documentation xml:lang="en">A discount on international fare that is not a stored fare.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attributeGroup ref="CurrencyCodeGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">May specify the currency code when the discount is a monetary value.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
									<xs:attribute name="TicketDesignatorCode" type="StringLength1to16" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The ticket designator code for the discount.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="PaymentInfo" minOccurs="0" maxOccurs="297">
								<xs:annotation>
									<xs:documentation xml:lang="en">The form of payment information  for the ticket to be issued.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CreditCardInfo" minOccurs="0" maxOccurs="5">
											<xs:annotation>
												<xs:documentation xml:lang="en">The details for the card when form of payment is a credit card. </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="PaymentCardType">
														<xs:attribute name="ApprovalCode" type="AlphaNumericStringLength1to8" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">The credit card approval code.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="CardPresentInd" type="xs:boolean" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">When true, the credit card was present at the transaction.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="ExtendedPaymentCode" type="AlphaNumericStringLength1to8" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">Specifies the number of months that extended payment is allowed or an 'E' to indicate there is extended payment but no set number of months.  </xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="Amount" type="Money" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">Specifies the amount for this form of payment.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="PassengerRPH" type="ListOfRPH" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Provides a unique reference to one or more passengers.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="PaymentType" type="OTA_CodeType" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies the form of payment, i.e., check, cash, credit card.  Refer to OTA Code List Payment Type (PMT).</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="PrintFormOfPaymentInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">When true, the form of payment on the document requested.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Text" type="StringLength0to128" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Textual information for the form of payment.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attributeGroup ref="CurrencyAmountGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies the amount and currency code for this form of payment.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
							<xs:element name="Endorsement" minOccurs="0" maxOccurs="6">
								<xs:annotation>
									<xs:documentation xml:lang="en">Remark provided to ensure common understanding between the passenger and the airline concerning any restrictions that may apply.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Info" type="StringLength1to255" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies the endorsement information for the ticket to be issued.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Commission" minOccurs="0" maxOccurs="2">
								<xs:annotation>
									<xs:documentation xml:lang="en">Information specifying the commission to be paid.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="CurrencyAmountGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">The actual monetary value of the commission and the currency code for the amount.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
									<xs:attribute name="Percent" type="Percentage" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The percentage value of the commission.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="CapAmount" type="Money" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The highest monetary value that may be paid when the commission is a percent.  For example, the commision may be 2% of the fare, but the monetary value may not exceed $20.00.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="AdditionalInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">When true, this is an additional commission.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="PassengerNameReference" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation xml:lang="en">A reference to the passenger name number to be ticketed.  A range of name numbers may also be requested.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="SurnameRefNumber" type="Numeric1to99" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies the surname name number.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="GivenNameRefNumber" type="Numeric1to99" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies the given name number.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="RangePosition" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies whether this is first or last passenger name number in a range.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="First">
													<xs:annotation>
														<xs:documentation xml:lang="en">Indicates that the surname and given name reference numbers represent the first passenger name in a range of passengers to be ticketed. </xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Last">
													<xs:annotation>
														<xs:documentation xml:lang="en">Indicates that the surname and given name reference numbers represent the last passenger name in a range of passengers to be ticketed.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="PassengerTypeCode" type="AlphaLength3" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Used to identify the PTC code (passenger type code) for the passenger (e.g. infant).</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="PassengerName" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation xml:lang="en">The name of the passenger as in the PNR.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="PersonNameType">
											<xs:attribute name="RPH" type="RPH_Type" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Provides a unique reference to the passenger.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="PassengerTypeCode" type="AlphaLength3" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to identify the PTC code (passenger type code) for the passenger (e.g. infant).</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="FlightReference" minOccurs="0" maxOccurs="16">
								<xs:annotation>
									<xs:documentation xml:lang="en">A reference to a flight segment in a passenger name record.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="FlightRefNumber" type="Numeric1to99" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">The reference number for a flight segment in a passenger name record.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="RangePosition" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies whether the first or last flight segment reference number in a range.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="First">
													<xs:annotation>
														<xs:documentation xml:lang="en">Indicates that the flight reference number represents the first flight in a range of flights to be ticketed. </xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="Last">
													<xs:annotation>
														<xs:documentation xml:lang="en">Indicates that the flight reference number represents the last flight in a range of flights to be ticketed. </xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="TravelAgencyServiceFee" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation xml:lang="en">The service fee information for an associated document, such as a miscellaneous charge order or TASF.  This may be a fee the travel agent charges for a booking or for delivering an itinerary.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Type" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies how the service fee has been determined, i.e., per person, total.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="PerPassenger">
													<xs:annotation>
														<xs:documentation xml:lang="en">The amount is per passenger.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="TransactionTotal">
													<xs:annotation>
														<xs:documentation xml:lang="en">This is the actual amount of the service fee.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="PerMCO">
													<xs:annotation>
														<xs:documentation xml:lang="en">The amount is determined by multiplying by the number of passengers.</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attributeGroup ref="CurrencyAmountGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">The amount and currency code of the service fee.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
									<xs:attribute name="EndorsementInfo" type="StringLength1to64" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Remarks pertaining to the service fee.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Reason" type="StringLength1to64" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The reason for the service fee.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="AssocDocNumber" type="AlphaNumericStringLength1to14" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The number identifying a document associated with the service fee.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="QueuePNR" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Information to specify the queue on which a PNR should be placed after the ticket is isssued.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="QueueGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">Information to identify a queue.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
									<xs:attribute name="Date" type="DateOrMonthDay" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">The month and day of the queue on which the PNR is to be placed.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="DateRangeNumber" type="xs:integer" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">A number specifying a range of days (e.g., today plus 3, today plus 6) for the queue on which the PNR is to be placed. </xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="DocumentInstructions" minOccurs="0">
								<xs:annotation>
									<xs:documentation>A container of document instructions.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DocumentInstruction" minOccurs="0" maxOccurs="99">
											<xs:annotation>
												<xs:documentation>A stored document instruction number to be used in ticketing.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Number" type="Numeric1to99" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">A document number to be used in ticketing the itinerary.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="OverrideStoredInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">When true, the stored document instructions should not be used in ticketing.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="UsePrimaryInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">When true, use the primary stored document instruction in ticketing.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="PricingInstruction" minOccurs="0">
								<xs:annotation>
									<xs:documentation>An instruction for pricing the itinerary at the time of issuing a ticket.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="UseStoredFareInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">When true, the fare stored in the booking record should be used instead of any stored pricing instructions.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Number" type="Numeric1to99" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Provides a pricing instruction number to be used for pricing the itinerary at the time of issuing the ticket.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element ref="TPA_Extensions" minOccurs="0"/>
						</xs:sequence>
						<xs:attributeGroup ref="CompanyID_AttributesGroup">
							<xs:annotation>
								<xs:documentation xml:lang="en">To specify the validating carrier that may be used as an override for ticketing purposes..</xs:documentation>
							</xs:annotation>
						</xs:attributeGroup>
						<xs:attribute name="BulkTicketInd" type="xs:boolean" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">When true, a bulk ticket applies.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TourCode" type="StringLength1to16" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">A tour number that may be printed on the ticket or override an existing tour number in the PNR.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="IssuingAgentInfo" type="StringLength0to128" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">The agency information to be printed on the printed itinerary and/or invoice. </xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TravelPurposeCode" type="OTA_CodeType" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">Specifies the purpose of the trip, i.e., business, personal.  Refer to OTA Code List Travel Purpose (TVP).</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="DestRegion" type="Numeric0to99" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">The destination code for the itinerary.  Required for Canada and Bermuda BSP's.  </xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CarrierAgreementRef" type="AlphaNumericStringLength1to14" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">Used to specify the carrier agreement code, also known as a contract code.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ValueCode" type="AlphaNumericStringLength1to8" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">Encoded data relating to the fare agreement with the airline.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TicketingRecordNbr" type="Numeric1to99" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">Provides a ticketing record number to be used in the ticketing of the itinerary.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ReturnAllTktNbrsInd" type="xs:boolean" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">When true, all ticket numbers should be returned.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes">
				<xs:annotation>
					<xs:documentation xml:lang="en">The standard attributes that appear on the root element for all OTA payloads. </xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
<!-- OTA_SimpleTypes.xsd --><xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="AlphaNumericStringLength1to14">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 14</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,14}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="AlphaNumericStringLength1to19">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 19</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,19}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="AlphaNumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="DateOrMonthDay">
		<xs:annotation>
			<xs:documentation xml:lang="en">A construct to validate either a date or a month and day value.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:gMonthDay"/>
	</xs:simpleType><xs:simpleType name="ISO3166">
		<xs:annotation>
			<xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="ListOfRPH">
		<xs:annotation>
			<xs:documentation xml:lang="en">List of Reference Place Holders.</xs:documentation>
		</xs:annotation>
		<xs:list itemType="RPH_Type"/>
	</xs:simpleType><xs:simpleType name="MMYYDate">
		<xs:annotation>
			<xs:documentation xml:lang="en">Month and year information.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[1-9]|1[0-2])[0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Money">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="MoneyOrPercentageType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A union of money and percentage so that the appropriate data can be sent in a single field.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="Money Percentage"/>
	</xs:simpleType><xs:simpleType name="Numeric0to99">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 0 to 99 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Numeric1to99">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 99 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to19">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 19.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,19}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 5</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="PaymentCardCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The 2 digit code used that references the credit card used.</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="UpperCaseAlphaLength1to2">
					<xs:enumeration value="AX">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					American Express 
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="BC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Bank Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="BL">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Carte Bleu                  
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="CB">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Carte Blanche                  
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="DN">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Diners Club
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="DS">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Discover Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="EC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					 Eurocard
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="JC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Japanese Credit Bureau Credit Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="MC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Master Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="TP">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					 Universal Air Travel Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="VI">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					 Visa
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en">This is intended to be used when the above enumeration list does not meet your needs. </xs:documentation>
				</xs:annotation>
				<xs:restriction base="UpperCaseAlphaLength1to2"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType><xs:simpleType name="Percentage">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for percentage values</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.00"/>
			<xs:maxInclusive value="100.00"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="RPH_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">(Reference Place Holder) - an index code to identify an instance in a collection of like items.. For example,  used to assign individual passengers or clients to particular itinerary items.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StateProvCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The standard code or abbreviation for the state, province, or region</xs:documentation>
		</xs:annotation>
		<xs:restriction base="StringLength1to8">
			<xs:minLength value="2"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to255">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 255</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaLength1to2">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 2 (for letter codes)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaNumericLength2to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 2 to 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2,3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaNumericLength3to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 3 to 5.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3,5}"/>
		</xs:restriction>
	</xs:simpleType><!-- OTA_CommonTypes.xsd --><xs:element name="TPA_Extensions" type="TPA_ExtensionsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A placeholder in the schema to allow for additional elements and attributes to be included if required, per Trading Partner Agreement (TPA).</xs:documentation>
		</xs:annotation>
	</xs:element><xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides address information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StreetNmbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">May contain the street number and optionally the street name.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StreetNmbrType">
							<xs:attribute name="StreetNmbrSuffix" type="StringLength1to8" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Usually a letter right after the street number (A in 66-A, B in 123-B etc).</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="StreetDirection" type="StringLength1to8" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Street direction of an address (e.g., N, E, S, NW, SW). 

</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="RuralRouteNmbr" type="NumericStringLength1to5" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Numerical equivalent of a rural township as defined within a given area (e.g., 12, 99).</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BldgRoom" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">Building name, room, apartment, or suite number.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to64">
							<xs:attribute name="BldgNameIndicator" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">When true, the information is a building name.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddressLine" type="StringLength1to255" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">When the address is unformatted (FormattedInd="false") these lines will contain free form address details. When the address is formatted and street number and street name must be sent independently, the street number will be sent using StreetNmbr, and the street name will be sent in the first AddressLine occurrence.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" type="StringLength1to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">City (e.g., Dublin), town, or postal station (i.e., a postal service territory, often used in a military address).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="StringLength1to16" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Post Office Code number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="County" type="StringLength1to32" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">County or Region Name (e.g., Fairfax).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateProv" type="StateProvType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">State or Province name (e.g., Texas).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="CountryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country name (e.g., Ireland).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="FormattedInd">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies if the associated data is formatted or not.  When true, then it is formatted; when false, then not formatted.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of address information between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="Type" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the type of address (e.g. home, business, other). Refer to OTA Code List Communication Location Type (CLT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="CompanyNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to128">
				<xs:attributeGroup ref="CompanyID_AttributesGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="Division" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The division name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Department" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The department name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="CountryNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The name or code of a country (e.g. as used in an address or to specify citizenship of a traveller).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="Code" type="ISO3166" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">ISO 3166 code for a country.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="POS_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Point of Sale (POS) is the details identifying the party or connection channel making the request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Source" type="SourceType" maxOccurs="10">
				<xs:annotation>
					<xs:documentation xml:lang="en">This holds details regarding the requestor. It may be repeated to also accommodate the delivery systems.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="PaymentCardType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identification about a specific credit card</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardHolderName" type="StringLength1to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the card holder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardIssuerName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Issuer of the card.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="IssuerNameGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Name of bank or organization issuing the card (e.g., alumni association, bank, fraternal organization).</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="Address" type="AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Card holder's address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of payment card data between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="CardType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the type of magnetic striped card. Refer to OTA Code ListCard Type (CDT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CardCode" type="PaymentCardCodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The 2 character code of the credit card issuer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CardNumber" type="NumericStringLength1to19" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Credit card number embossed on the card.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SeriesCode" type="NumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Verification digits printed on the card following the embossed number. This may also accommodate the customer identification/batch number (CID), card verification value (CVV2 ), card validation code number (CVC2) on credit card.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="PaymentCardDateGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Date the card becomes valid for use (optional) and the date the card expires (required) in ISO 8601 prescribed format.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="MaskedCardNumber" type="AlphaNumericStringLength1to19" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">May be used to send a concealed credit card number (e.g., xxxxxxxxxxxx9922).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CardHolderRPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a reference pointer that links the payment card to the payment card holder.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExtendPaymentIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, the credit card company is requested to delay the date on which the amount of this transaction is applied to the customer's account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="PersonNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This provides name information for a person.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamePrefix" type="StringLength1to16" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Salutation of honorific. (e.g., Mr. Mrs., Ms., Miss, Dr.) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GivenName" type="StringLength1to64" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Given name, first name or names</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="StringLength1to64" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">The middle name of the person name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurnamePrefix" type="StringLength1to16" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">e.g "van der", "von", "de" </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Surname" type="StringLength1to64">
				<xs:annotation>
					<xs:documentation xml:lang="en">Family name, last name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameSuffix" type="StringLength1to16" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hold various name suffixes and letters (e.g. Jr., Sr., III, Ret., Esq.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTitle" type="StringLength1to16" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Degree or honors (e.g., Ph.D., M.D.)   </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of person name data between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="NameType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Type of name of the individual, such as former, nickname, alternate or alias name. Refer to OTA Code List Name Type (NAM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="SourceType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides information on the source of a request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestorID" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">An identifier of the entity making the request  (e.g. ATA/IATA/ID number, Electronic Reservation Service Provider (ERSP), Association of British Travel Agents (ABTA)). </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="UniqueID_Type">
							<xs:attribute name="MessagePassword" type="StringLength1to16" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">This password provides an additional level of security that the recipient can use to validate the sending party's authority to use the message.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Position" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the latitude and longitude of a source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="PositionGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Used to specify the geographic coordinates of the source of the request.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="BookingChannel" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the booking channel type and whether it is the primary means of connectivity of the source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Identifies the company that is associated with the booking channel.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="BookingChannelGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the booking channel type and whether it is the primary means of connectivity of the source.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AgentSine" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the party within the requesting entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PseudoCityCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An identification code assigned to an office/agency by a reservation system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCountry" type="ISO3166" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The country code of the requesting party.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCurrency" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The currency code in which the reservation will be ticketed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AgentDutyCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An authority code assigned to a requestor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirlineVendorID" type="UpperCaseAlphaNumericLength2to3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA assigned airline code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirportCode" type="UpperCaseAlphaNumericLength3to5" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA assigned airport code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FirstDepartPoint" type="StringLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The point of first departure in a trip.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ERSP_UserID" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Electronic Reservation Service Provider (ERSP) assigned identifier used to identify the individual using the ERSP system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TerminalID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the electronic address of the device from which information is entered.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="StateProvType">
		<xs:annotation>
			<xs:documentation xml:lang="en">State, province, or region name or code needed to identify location.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="StateCode" type="StateProvCodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">The standard code or abbreviation for the state, province, or region.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="StreetNmbrType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Street name; number on street.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="PO_Box" type="StringLength1to16">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines a Post Office Box number.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="TPA_ExtensionsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows extensions 
to be added to the OTA specification per trading partner agreement.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="UniqueID_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">An identifier used to uniquely reference an object in a system (e.g. an airline reservation reference, customer profile reference, booking confirmation number, or a reference to a previous availability quote). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the company that is associated with the UniqueID.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="UniqueID_Group"/>
	</xs:complexType><xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="BookingChannelGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies the booking channel types and whether it is the primary means of connectivity of the source.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The type of booking channel (e.g. Global Distribution System (GDS), Alternative Distribution System (ADS), Sales and Catering System (SCS), Property Management System (PMS), Central Reservation System (CRS), Tour Operator System (TOS), Internet and ALL). Refer to OTA Code List Booking Channel Type (BCT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Primary" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates whether the enumerated booking channel is the primary means of connectivity used by the source.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CompanyID_AttributesGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CompanyShortName" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide the company common name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">
Refer to OTA Code List Travel Sector (TVS).
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as DUNS, IATA or internal code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyAmountGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a monetary amount and the currency code to reflect the currency in which this amount is expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amount" type="Money" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A monetary amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="CurrencyCodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed as well as the number of decimal places of that currency.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the number of decimal places for a particular currency. This is equivalent to the ISO 4217 standard "minor unit". Typically used when the amount provided includes the minor unit of currency without a decimal point (e.g., USD 8500 needs DecimalPlaces="2" to represent $85).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="FormattedInd">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies if the associated data is formatted into its individual pieces, or exists as a single entity.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FormattedInd" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies if the associated data is formatted or not.  When true, then it is formatted; when false, then not formatted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" type="StringLength1to32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system.  The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="IssuerNameGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of bank or organization issuing the card (e.g., alumni association, bank, fraternal organization, etc.).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="BankID" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code of bank issuing the card.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Continuation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Subsequent">
						<xs:annotation>
							<xs:documentation xml:lang="en">This request message is a subsequent request based on the previous message sent in this transaction.
</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="AltLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the alternate language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="RetransmissionIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to TRUE) only when a message is retransmitted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PaymentCardDateGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates the start and end date for a payment card.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EffectiveDate" type="MMYYDate" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the starting date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExpireDate" type="MMYYDate" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the ending date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PositionGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify the geographic coordinates of a location.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Latitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian north or south of the equator.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Longitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian east or west of the prime meridian.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Altitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The height of an item, typically above sea level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AltitudeUnitOfMeasureCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides the unit of measure for the altitude (e.g., feet, meters, miles, kilometers). Refer to OTA Code List Unit of Measure Code (UOM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrimaryLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifes the primary language preference for the message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrivacyGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows for control of the sharing of data between parties.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShareSynchInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en"> value="Inherit" Permission for sharing data for synchronization of information held by other travel service providers.							</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShareMarketInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en"> value="Inherit" Permission for sharing data for marketing purposes.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="QueueGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information to identify a queue.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PseudoCityCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The ATA/IATA airport/city code, office code, pseudo city code, etc. of the queue.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="QueueNumber" type="AlphaNumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An identifier specifying the queue on which the booking file resides in the system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="QueueCategory" type="AlphaNumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The category of the queue.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SystemCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the airline and/or system where the queue resides. If this is omitted, the airline and/or system code (AirlineVendorID) contained in the point of sale information should be used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="QueueID" type="AlphaNumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An additional identifier to determine the exact queue on which a reservation record should be placed</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="UniqueID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides unique identification information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="URL" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation xml:lang="en">URL that identifies the location associated with the record identified by the UniqueID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference to the type of object defined by the UniqueID element. Refer to OTA Code List Unique ID Type (UIT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Instance" type="StringLength1to32">
			<xs:annotation>
				<xs:documentation xml:lang="en">The identification of a record as it exists at a point in time. An instance is used in update messages where the sender must assure the server that the update sent refers to the most recent modification level of the object being updated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="ID_Context" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the source of the identifier (e.g., IATA, ABTA).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup></xs:schema>
