cmhub-src-develop/public/api/ext/soap/ota/2007B/FS_OTA_AirRulesRQ.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.008" id="OTA2007B">
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_AirRulesRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">
	The Rules Request message requests text rules for a specific fare class code for an airline and city pair on a specific date. Optional information 	negotiated fare contract codes to be included in the message.
	The rules request contains similar to a Fare Rules entry on an airline CRS or GDS.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type">
					<xs:annotation>
						<xs:documentation xml:lang="en">Point of sale object. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RuleReqInfo">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Rule Request Information required to return all applicable fare rule categories.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="FareInfoType">
								<xs:sequence minOccurs="0">
									<xs:element name="SubSection" minOccurs="0" maxOccurs="99">
										<xs:complexType>
											<xs:attribute name="SubTitle" type="StringLength1to32" use="optional"/>
											<xs:attribute name="SubCode" type="StringLength1to16" use="optional"/>
											<xs:attribute name="SubSectionNumber" type="StringLength1to8" use="optional"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="LanguageRequested" type="AlphaNumericStringLength1to8" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Specifies the language in which the rules should be returned.
</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
<!-- OTA_AirCommonTypes.xsd --><xs:complexType name="AdvResTicketingType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container used to hold information regarding advance reservation and/or advance ticketing.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="AdvReservation" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies constraints on when advance reservations can be made.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="LatestTimeOfDay" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The time of day by which reservations must be made on the last day that advance reservations can be made.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="LatestPeriod" type="NumericStringLength1to3" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The amount of elapsed time or number of occurrences of a day of the week before departure needed to satisfy an advance reservation requirement.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="LatestUnit" type="StayUnitType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The unit of elapsed time or the day of the week to be applied to the LatestPeriod value.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdvTicketing" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies advance ticketing restrictions.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="FromResTimeOfDay" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The time of day after reservations are made by which a ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FromResPeriod" type="NumericStringLength1to3" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">A length of time expressed as either an amount of time or the number of occurrences of a day of the week after reservations are made that a ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FromResUnit" type="StayUnitType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The unit of elapsed time or the day of the week to be applied to the period after reservation are made that a ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FromDepartTimeOfDay" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The time of day prior to departure when that a ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FromDepartPeriod" type="NumericStringLength1to3" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">A length of time expressed as either an amount of time or the number of occurrences of a day of the week before departure that a ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FromDepartUnit" type="StayUnitType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The unit of elapsed time or the day of the week to be applied to the the period before departure that a ticket must be purchased.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AdvResInd" type="xs:boolean">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicator for identifying whether or not advance reservation restrictions are involved in the request or response.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AdvTicketingInd" type="xs:boolean">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicator for identifying whether or not advance ticketing restrictions are involved in the request or response.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RequestedTicketingDate" type="DateOrDateTimeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date a traveller wishes to ticket their reservation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="FareInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Rules for this priced option. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DepartureDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Departure Date for this priced fare</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FareReference" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used to provide the fare basis code, the fare class code, and/or ticket designator. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to8">
							<xs:attribute name="ResBookDesigCode" type="UpperCaseAlphaLength1to2" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Identifies the class of service for the specified fare basis code.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="TicketDesignatorCode" type="StringLength1to16" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the discount code applicable to the fare that is associated with this fare basis code.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="AccountCode" type="StringLength1to32" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">A code to uniquely identify a fare account.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="RuleInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Information regarding restrictions governing use of the fare.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="RuleInfoType">
							<xs:attribute name="TripType" type="AirTripType" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">To specify if the trip is one way or roundtrip. 
</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="MoneySaverInd" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">If true, the fare rule being requested is for all airline fares for the specified city pair. If false, it is not.
</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FilingAirline" type="CompanyNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The airline that filed the fare(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketingAirline" type="CompanyNameType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">The marketing airline.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureAirport" type="LocationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Departure point of flight segment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalAirport" type="LocationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Arrival point of flight segment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date information applicable to the fare rules.
</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Date" type="DateOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The applicable date for the purpose specified in the Type attribute.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Type" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the type of date.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="LastRuleChange">
									<xs:annotation>
										<xs:documentation xml:lang="en">The last date the rule was changed.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="RuleBecomesInvalid">
									<xs:annotation>
										<xs:documentation xml:lang="en">The date after which the rule is no longer valid.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="RestrictiveFareEffective">
									<xs:annotation>
										<xs:documentation xml:lang="en">The date on which the restrictive fare becomes effective.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="RestrictiveFareDiscontinue">
									<xs:annotation>
										<xs:documentation xml:lang="en">The date on which the restrictive fare is discontinued.
</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="FareInfo" minOccurs="0" maxOccurs="15">
				<xs:annotation>
					<xs:documentation xml:lang="en">Fares and related information for this fare rule.
</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Date" minOccurs="0" maxOccurs="5">
							<xs:annotation>
								<xs:documentation xml:lang="en">Date information applicable to the fare.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="Date" type="DateOrDateTimeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The applicable date for the purpose specified in the 
Type attribute.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Type" use="optional">
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="EffectiveTravel">
												<xs:annotation>
													<xs:documentation xml:lang="en">The first travel date for this fare.</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="DiscontinueTravel">
												<xs:annotation>
													<xs:documentation xml:lang="en">The last travel date for this fare.</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="FirstTicketing">
												<xs:annotation>
													<xs:documentation xml:lang="en">The first date for ticketing.</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="LastTicketing">
												<xs:annotation>
													<xs:documentation xml:lang="en">The last date for ticketing.</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="TravelCompletion">
												<xs:annotation>
													<xs:documentation xml:lang="en">The date by which travel must be completed.
</xs:documentation>
												</xs:annotation>
											</xs:enumeration>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="Fare" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">The base and total fare and tax amounts associated with the rule.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="BaseAmount" type="Money" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The base amount of the fare.
</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="BaseNUC_Amount" type="Money" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The base neutral unit of construction amount.
</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="TaxAmount" type="Money" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The tax amount for the fare associated to the rule.
</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="TotalFare" type="Money" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The total fare associated to the rule.
</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="FareDescription" type="StringLength0to64" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">A description of the fare.
</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="PTC" minOccurs="0" maxOccurs="5">
							<xs:annotation>
								<xs:documentation xml:lang="en">The passenger types for which the fare is applicable.
</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="PassengerTypeCode" type="AlphaLength3" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The passenger type code for this fare.
</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="FareBasisCode" type="StringLength1to16" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The fare basis code for the fare for this rule.
</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GlobalIndicatorCode" type="GlobalIndicatorType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The global direction for this fare rule.
</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MaximumPermittedMileage" type="xs:integer" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The maximum mileage (in miles) that can be travelled under this fare
.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="TripType" type="AirTripType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Tthe type of trip associated with the rule.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FareType" type="UpperCaseAlphaLength1to3" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the fare type for this fare.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FareStatus" type="FareStatusType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Identifies whether the fare was constructed, published, created, etc.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="DiscountPricing" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The information needed when a passenger presents a discount/promotional coupon for a dollar/percentage off the fare or when a passenger qualifies for a percentage discount such as a senior discount.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Purpose" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Used to specify the purpose of the discount pricing.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Airline">
									<xs:annotation>
										<xs:documentation xml:lang="en">The discount pricing is from the airline.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Custom">
									<xs:annotation>
										<xs:documentation xml:lang="en">The discount pricing is a custom discount.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="TicketDesignatorCode" type="StringLength1to16" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the code applicable to the fare that is being discounted.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Discount" type="MoneyOrPercentageType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The monetary amount or percentage of discount that should be applied.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Type" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the type of amount being sent.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Amount">
									<xs:annotation>
										<xs:documentation xml:lang="en">This discount is a monetary amount.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Percentage">
									<xs:annotation>
										<xs:documentation xml:lang="en">The discount is a percentage value.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Usage" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Used to specify how the discount is to be applied.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Plus">
									<xs:annotation>
										<xs:documentation xml:lang="en">The discount being applied is an increase to the fare.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Minus">
									<xs:annotation>
										<xs:documentation xml:lang="en">The discount being applied is subtracted from the fare.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Text" type="StringLength1to128" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Actual discount pricing information.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="City" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>A city code valid for this fare.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="LocationGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">A city location code.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="Airport" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>An airport code valid for this fare.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="LocationGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">An airport locaton code.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="NegotiatedFareAttributes"/>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The ISO 4217 currency code associated with the fare rule information.
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TariffNumber" type="AlphaNumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The tariff number for the rule.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RuleNumber" type="AlphaNumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number associated with the fare rule.
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RoutingNumber" type="Numeric1to9999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The routing number applicable to this fare.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="RuleInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains summary fare rule information as well as detailed Rule Information for Fare Basis Codes.  Information may be actual rules data or the results returned from a rules-based inquiry.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResTicketingRules" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">General container for rules regarding fare reservation,  ticketing and sale restrictions</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdvResTicketing" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Container for holding rules regarding advance reservation or ticketing restrictions. </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="AdvResTicketingType">
										<xs:attribute name="FirstTicketDate" type="DateOrDateTimeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The first date that a ticket may be issued for this fare.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="LastTicketDate" type="DateOrDateTimeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The last date that a ticket may be issued for this fare.
</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LengthOfStayRules" type="StayRestrictionsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Rules providing minimum or maximum stay restrictions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargesRules" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">General container for rules specifying amounts for such things as: surcharges, deposits, change penalties, cancellation penalties, etc.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VoluntaryChanges" type="VoluntaryChangesType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Specifies a voluntary change charge.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VoluntaryRefunds" type="VoluntaryChangesType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Specifies a Voluntary Refund (cancellation) charge.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="StayRestrictionsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type defining Min and Max Stay Restrictions</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="MinimumStay" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies restrictions for the shortest length/period of time or earliest day return travel can commence or be completed.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ReturnTimeOfDay" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en"> The time of day when return travel may commence.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MinStay" type="Numeric1to99" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The amount of elapsed time or number of occurrences of a day of the week needed to satisfy a minimum stay requirement.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="StayUnit" type="StayUnitType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The unit of elapsed time or the day of the week applied to the MinStay value. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MinStayDate" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific date for the minimum stay requirement.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ComplicatedRulesInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">If true, there are complicated rules for the minimum stay requirement.
</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="MaximumStay" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies restrictions for the  longest length/period of time or last day to begin or complete the return.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ReturnType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Code indicating whether travel must commence or be completed in order to satisfy the stay restriction.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="C">
									<xs:annotation>
										<xs:documentation xml:lang="en">Return travel must be Completed.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="S">
									<xs:annotation>
										<xs:documentation xml:lang="en">Return travel must be Started.</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ReturnTimeOfDay" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en"> The time of day when return travel may commence.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MaxStay" type="Numeric1to999" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The amount of elapsed time or number of occurrences of a day of the week that must occur to satisfy a maximum stay requirement.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="StayUnit" type="StayUnitType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The unit of elapsed time or the day of the week applied to the MaxStay value.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MaxStayDate" type="TimeOrDateTimeType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific date for the maximum stay requirement.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ComplicatedRulesInd" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">If true, there are complicated rules for the maximum stay requirement.
</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="StayRestrictionsInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">True indicates that Stay Restrictions exist. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="VoluntaryChangesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies charges and/or penalties associated with making ticket changes after purchase.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="Penalty" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies penalty charges as either a currency amount or a percentage of the fare</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="PenaltyType" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en"> Indicates the type of penalty involved in the search or response.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="DepartureStatus" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Identifier used to indicate whether the change occurs before or after departure from the origin city.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="CurrencyAmountGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">The penalty charge defined a fee in terms of its amount, currency and decimal laces.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
					<xs:attribute name="Percent" type="Percentage">
						<xs:annotation>
							<xs:documentation xml:lang="en">The penalty charge conveyed as a percent of the total fare. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="VolChangeInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicator used to specify whether voluntary change and other penalties are involved in the search or response.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:attributeGroup name="NegotiatedFareAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">Attribute collection providing private fare profile.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="NegotiatedFare" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">
		Indicator to show if this is a private fare.
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NegotiatedFareCode" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">
		Code used to identify the private fare.
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:simpleType name="AirTripType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the trip type - one way, return, circle trip, open jaw</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OneWay">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies a one way trip type.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OneWayOnly">
				<xs:annotation>
					<xs:documentation xml:lang="en">Cannot be doubled to create a roundtrip. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Return">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies a return trip type.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Circle">
				<xs:annotation>
					<xs:documentation xml:lang="en"> Identifies a circle trip type.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OpenJaw">
				<xs:annotation>
					<xs:documentation xml:lang="en"> Identifies an open jaw trip type.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Other">
				<xs:annotation>
					<xs:documentation xml:lang="en"> Identifies an other trip type.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Outbound">
				<xs:annotation>
					<xs:documentation xml:lang="en">The direction for the fare is outbound.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OutboundSeasonRoundtrip">
				<xs:annotation>
					<xs:documentation xml:lang="en">The direction for the fare is outbound seasonal roundtrip.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Non-directional">
				<xs:annotation>
					<xs:documentation xml:lang="en">There is no direction specified for the fare.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Inbound">
				<xs:annotation>
					<xs:documentation xml:lang="en">The direction for the fare is inbound.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Roundtrip">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies travel from one point to another point and return to the original point.  (The outbound fare shall be used also for the inbound fare component for the purpose of determing if the pricing unit is a round trip).  </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="FareStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies whether the fare was constructed, published, created, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="constructed"/>
			<xs:enumeration value="published"/>
			<xs:enumeration value="created"/>
			<xs:enumeration value="fareByRule">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies that the fare was built based on rules.
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fareByRulePrivate">
				<xs:annotation>
					<xs:documentation xml:lang="en">The private fare was built by rules.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="GlobalIndicatorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies the global travel area.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="AP">
				<xs:annotation>
					<xs:documentation xml:lang="en">Atlantic/Pacific Round-the-World</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AT">
				<xs:annotation>
					<xs:documentation xml:lang="en">Atlantic Ocean</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CT">
				<xs:annotation>
					<xs:documentation xml:lang="en">Circle trip

</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DO">
				<xs:annotation>
					<xs:documentation xml:lang="en">Domestic

</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EH">
				<xs:annotation>
					<xs:documentation xml:lang="en">Eastern Hemisphere</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FE">
				<xs:annotation>
					<xs:documentation xml:lang="en">Within the Far East

</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PA">
				<xs:annotation>
					<xs:documentation xml:lang="en">Pacific Ocean</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PN">
				<xs:annotation>
					<xs:documentation xml:lang="en">TC1-TC3 via Pacific/N. America

</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PO">
				<xs:annotation>
					<xs:documentation xml:lang="en">Polar Route</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RU">
				<xs:annotation>
					<xs:documentation xml:lang="en">Russia Area 3

</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RW">
				<xs:annotation>
					<xs:documentation xml:lang="en">Round the world

</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SA">
				<xs:annotation>
					<xs:documentation xml:lang="en">South Atlantic only</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TS">
				<xs:annotation>
					<xs:documentation xml:lang="en">Trans Siberia Route</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WH">
				<xs:annotation>
					<xs:documentation xml:lang="en">Western Hemisphere</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StayUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines the 'Units' that can be applied to Stay restrictions.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Minutes">
				<xs:annotation>
					<xs:documentation xml:lang="en"> Stay restriction in minutes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Hours">
				<xs:annotation>
					<xs:documentation xml:lang="en"> Stay restriction in hours.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Days">
				<xs:annotation>
					<xs:documentation xml:lang="en"> Stay restriction in days.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Months">
				<xs:annotation>
					<xs:documentation xml:lang="en"> Stay restriction in months.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MON">
				<xs:annotation>
					<xs:documentation xml:lang="en">Monday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TUES">
				<xs:annotation>
					<xs:documentation xml:lang="en">Tuesday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WED">
				<xs:annotation>
					<xs:documentation xml:lang="en">Wednesday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="THU">
				<xs:annotation>
					<xs:documentation xml:lang="en">Thursday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FRI">
				<xs:annotation>
					<xs:documentation xml:lang="en">Friday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAT">
				<xs:annotation>
					<xs:documentation xml:lang="en">Saturday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUN">
				<xs:annotation>
					<xs:documentation xml:lang="en">Sunday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType><!-- OTA_SimpleTypes.xsd --><xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="AlphaNumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="DateOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A construct to validate either a date or a dateTime value.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:dateTime"/>
	</xs:simpleType><xs:simpleType name="ISO3166">
		<xs:annotation>
			<xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Money">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="MoneyOrPercentageType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A union of money and percentage so that the appropriate data can be sent in a single field.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="Money Percentage"/>
	</xs:simpleType><xs:simpleType name="Numeric1to99">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 99 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Numeric1to999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 999 inclusive.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Numeric1to9999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 9999 inclusive.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, minimum length 1, maximum length 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Percentage">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for percentage values</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.00"/>
			<xs:maxInclusive value="100.00"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="TimeOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows for the specification of a date time or just time.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:dateTime xs:time"/>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaLength1to2">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 2 (for letter codes)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaLength1to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 3 (for letter codes)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaNumericLength2to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 2 to 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2,3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaNumericLength3to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 3 to 5.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3,5}"/>
		</xs:restriction>
	</xs:simpleType><!-- OTA_CommonTypes.xsd --><xs:complexType name="CompanyNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to128">
				<xs:attributeGroup ref="CompanyID_AttributesGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="Division" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The division name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Department" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The department name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="LocationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code and optional string to describe a location point.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="LocationGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">A code identifying a location.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="POS_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Point of Sale (POS) is the details identifying the party or connection channel making the request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Source" type="SourceType" maxOccurs="10">
				<xs:annotation>
					<xs:documentation xml:lang="en">This holds details regarding the requestor. It may be repeated to also accommodate the delivery systems.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="SourceType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides information on the source of a request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestorID" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">An identifier of the entity making the request  (e.g. ATA/IATA/ID number, Electronic Reservation Service Provider (ERSP), Association of British Travel Agents (ABTA)). </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="UniqueID_Type">
							<xs:attribute name="MessagePassword" type="StringLength1to16" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">This password provides an additional level of security that the recipient can use to validate the sending party's authority to use the message.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Position" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the latitude and longitude of a source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="PositionGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Used to specify the geographic coordinates of the source of the request.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="BookingChannel" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the booking channel type and whether it is the primary means of connectivity of the source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Identifies the company that is associated with the booking channel.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="BookingChannelGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the booking channel type and whether it is the primary means of connectivity of the source.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AgentSine" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the party within the requesting entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PseudoCityCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An identification code assigned to an office/agency by a reservation system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCountry" type="ISO3166" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The country code of the requesting party.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCurrency" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The currency code in which the reservation will be ticketed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AgentDutyCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An authority code assigned to a requestor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirlineVendorID" type="UpperCaseAlphaNumericLength2to3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA assigned airline code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirportCode" type="UpperCaseAlphaNumericLength3to5" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA assigned airport code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FirstDepartPoint" type="StringLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The point of first departure in a trip.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ERSP_UserID" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Electronic Reservation Service Provider (ERSP) assigned identifier used to identify the individual using the ERSP system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TerminalID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the electronic address of the device from which information is entered.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="UniqueID_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">An identifier used to uniquely reference an object in a system (e.g. an airline reservation reference, customer profile reference, booking confirmation number, or a reference to a previous availability quote). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the company that is associated with the UniqueID.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="UniqueID_Group"/>
	</xs:complexType><xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="BookingChannelGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies the booking channel types and whether it is the primary means of connectivity of the source.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The type of booking channel (e.g. Global Distribution System (GDS), Alternative Distribution System (ADS), Sales and Catering System (SCS), Property Management System (PMS), Central Reservation System (CRS), Tour Operator System (TOS), Internet and ALL). Refer to OTA Code List Booking Channel Type (BCT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Primary" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates whether the enumerated booking channel is the primary means of connectivity used by the source.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CompanyID_AttributesGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CompanyShortName" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide the company common name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">
Refer to OTA Code List Travel Sector (TVS).
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as DUNS, IATA or internal code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyAmountGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a monetary amount and the currency code to reflect the currency in which this amount is expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amount" type="Money" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A monetary amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="CurrencyCodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed as well as the number of decimal places of that currency.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the number of decimal places for a particular currency. This is equivalent to the ISO 4217 standard "minor unit". Typically used when the amount provided includes the minor unit of currency without a decimal point (e.g., USD 8500 needs DecimalPlaces="2" to represent $85).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" type="StringLength1to32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system.  The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="LocationGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">A code identifying a location.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LocationCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code used to identify a location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" default="IATA">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code (e.g., IATA, ARC, or internal code).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Continuation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Subsequent">
						<xs:annotation>
							<xs:documentation xml:lang="en">This request message is a subsequent request based on the previous message sent in this transaction.
</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="AltLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the alternate language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="RetransmissionIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to TRUE) only when a message is retransmitted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PositionGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify the geographic coordinates of a location.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Latitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian north or south of the equator.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Longitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian east or west of the prime meridian.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Altitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The height of an item, typically above sea level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AltitudeUnitOfMeasureCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides the unit of measure for the altitude (e.g., feet, meters, miles, kilometers). Refer to OTA Code List Unit of Measure Code (UOM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrimaryLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifes the primary language preference for the message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="UniqueID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides unique identification information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="URL" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation xml:lang="en">URL that identifies the location associated with the record identified by the UniqueID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference to the type of object defined by the UniqueID element. Refer to OTA Code List Unique ID Type (UIT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Instance" type="StringLength1to32">
			<xs:annotation>
				<xs:documentation xml:lang="en">The identification of a record as it exists at a point in time. An instance is used in update messages where the sender must assure the server that the update sent refers to the most recent modification level of the object being updated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="ID_Context" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the source of the identifier (e.g., IATA, ABTA).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup></xs:schema>
