cmhub-src-develop/public/2007B/FS_OTA_CruiseBookingDocumentRS.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.002" id="OTA2007B">
	
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA 
specification are made available according to the terms defined by the OTA 
License Agreement at 
http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_CruiseBookingDocumentRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides confirmation that the documents will be delivered as requested.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation xml:lang="en"> Standard way to indicate successful 
processing of an OTA message. Returning an empty element of this type indicates 
success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en"> Standard way to indicate successful 
processing of an OTA message, but one in which warnings are 
generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReservationID">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the reservation control information or the guest's booking ID  (e.g. PNR Record Locator and/or Vendor Confirmation Number).</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="UniqueID_Type">
									<xs:attribute name="SyncDateTime" type="xs:dateTime" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies the Syncronization date of the record between GDS and CruiseLine.
</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="CruiseDocument" maxOccurs="9">
						<xs:annotation>
							<xs:documentation xml:lang="en">The document and the delivery method of the request.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="DocumentHandlingType">
									<xs:attribute name="Status" type="OTA_CodeType" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Provides the status of the cruise booking document (e.g. "confirmed" or "declined"). Refer to OTA Code List Status (STS).</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Reason" type="StringLength1to32" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Provides a short description of the reason for why the document has a particular status.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation xml:lang="en"> A collection of errors that occurred during 
the processing of a message.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes">
				<xs:annotation>
					<xs:documentation xml:lang="en">The standard attributes that appear on the root element for all OTA payloads. </xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
<!-- OTA_SimpleTypes.xsd --><xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Money">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="RPH_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">(Reference Place Holder) - an index code to identify an instance in a collection of like items.. For example,  used to assign individual passengers or clients to particular itinerary items.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><!-- OTA_CommonTypes.xsd --><xs:complexType name="CompanyNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to128">
				<xs:attributeGroup ref="CompanyID_AttributesGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="Division" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The division name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Department" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The department name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate that an error occurred during the processing of an OTA message</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Error element MUST contain the Type attribute that uses a recommended set of values to indicate the error type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Details of the error.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="NodeList" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">An XPath expression that selects all the nodes whose data caused this error.  Further, this expression should have an 	additional contraint which contains the data of the node.  This will provide the offending data back to systems that cannot maintain the original message. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="ErrorsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of errors that occurred during the processing of a message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Error" type="ErrorType" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>An error that occurred during the processing of a message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="FreeTextType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Textual information to provide descriptions and/or additional information.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="LanguageGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Language of the text.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="SuccessType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message. Returning an empty element of this type indicates success.</xs:documentation>
		</xs:annotation>
	</xs:complexType><xs:complexType name="UniqueID_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">An identifier used to uniquely reference an object in a system (e.g. an airline reservation reference, customer profile reference, booking confirmation number, or a reference to a previous availability quote). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the company that is associated with the UniqueID.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="UniqueID_Group"/>
	</xs:complexType><xs:complexType name="WarningType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message, but one in which warnings are generated</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Warning element MUST contain the Type attribute that uses a recommended set of values to indicate the warning type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Details of the warning.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="RPH" type="RPH_Type" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Reference Place Holder used as an index for this warning.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="WarningsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Collection of warnings.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Warning" type="WarningType" maxOccurs="999">
				<xs:annotation>
					<xs:documentation>Used in conjunction with the Success element to define a business error. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CompanyID_AttributesGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CompanyShortName" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide the company common name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">
Refer to OTA Code List Travel Sector (TVS).
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as DUNS, IATA or internal code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyAmountGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a monetary amount and the currency code to reflect the currency in which this amount is expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amount" type="Money" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A monetary amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="CurrencyCodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed as well as the number of decimal places of that currency.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="CurrencyCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides a currency code to reflect the currency in which an amount may be expressed.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DecimalPlaces" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the number of decimal places for a particular currency. This is equivalent to the ISO 4217 standard "minor unit". Typically used when the amount provided includes the minor unit of currency without a decimal point (e.g., USD 8500 needs DecimalPlaces="2" to represent $85).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ErrorWarningAttributeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to identify an application error by either text, code, or by an online description and also to give the status, tag, and/or identification of the record that may have caused the error.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShortText" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An abbreviated version of the error in textual format.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this refers to a table of coded values exchanged between applications to identify errors or warnings. Refer to OTA Code List Error Codes (ERR).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocURL" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this URL refers to an online description of the error that occurred.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, recommended values are those enumerated in the OTA_ErrorRS, (NotProcessed | Incomplete | Complete | Unknown) however, the data type is designated as string data, recognizing that trading partners may identify additional status conditions not included in the enumeration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Tag" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute may identify an unknown or misspelled tag that caused an error in processing. It is recommended that the Tag attribute use XPath notation to identify the location of a tag in the event that more than one tag of the same name is present in the document. Alternatively, the tag name alone can be used to identify missing data [Type=ReqFieldMissing].</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RecordID" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute allows for batch processing and the identification of the record that failed amongst a group of records. This value may contain a concatenation of a unique failed transaction ID with specific record(s) associated with that transaction.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" type="StringLength1to32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system.  The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="LanguageGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies language.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Language" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Language identification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Continuation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Subsequent">
						<xs:annotation>
							<xs:documentation xml:lang="en">This request message is a subsequent request based on the previous message sent in this transaction.
</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="AltLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the alternate language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="RetransmissionIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to TRUE) only when a message is retransmitted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrimaryLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifes the primary language preference for the message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="UniqueID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides unique identification information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="URL" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation xml:lang="en">URL that identifies the location associated with the record identified by the UniqueID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference to the type of object defined by the UniqueID element. Refer to OTA Code List Unique ID Type (UIT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Instance" type="StringLength1to32">
			<xs:annotation>
				<xs:documentation xml:lang="en">The identification of a record as it exists at a point in time. An instance is used in update messages where the sender must assure the server that the update sent refers to the most recent modification level of the object being updated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="ID_Context" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the source of the identifier (e.g., IATA, ABTA).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><!-- OTA_CruiseCommonTypes.xsd --><xs:complexType name="DocumentHandlingType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies the document handling information.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="VendorOption" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates vendors available for document delivery.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="VendorName" type="StringLength1to32" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the various options for mailing documents (e.g., UPS, FEDEX).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="CurrencyAmountGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the price for the mailing option.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DocumentTypeCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the content of the document being referred to. Refer to OTA Code List Cruise Document Type (CRD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DeliveryMethodCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the type of delivery method for the document defined in the DocumentTypeCode. Refer to OTA Code List Distribution Type (DTB).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocumentDestination" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the mailing location (e.g , agent address or alternate address).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SelectedOptionIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true indicates the item is selected. When false, indicates an alternate item exists, but is not currently selected.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DefaultIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, the DocumentDestination is the default. When false, the DocumentDestination  is not the default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AddressRequiredIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, this indicates the DocumentDestination address is required. When false, a DcoumentDestination address is not required.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AddressRPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a reference pointer that links the document destination to the appropriate address in ContactInfo.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EmailRPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a reference pointer that links the document destination to the appropriate email address in ContactInfo.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TelephoneRPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a reference pointer that links the document destination to the appropriate telephone number in ContactInfo that designates the fax number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocumentLanguage" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The language of the travel document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType></xs:schema>
