cmhub-src-develop/public/2007B/FS_OTA_InsurancePlanSearchRS.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.008" id="OTA2007B">
	
	
	
	
	
	
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_InsurancePlanSearchRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">Root element for insurance plan search response message</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType"/>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0"/>
					<xs:element name="AvailablePlans">
						<xs:annotation>
							<xs:documentation xml:lang="en">Collection of plan that meet the search request requirements</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AvailablePlan" maxOccurs="999">
									<xs:annotation>
										<xs:documentation xml:lang="en">Container for information about a single insurance plan.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="PlanDetail" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Container for detailed descriptions and URLs associated with the insurance product.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="PlanDescription" type="FormattedTextType" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Detailed description of insurance product.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="QuoteDetailURL" type="URL_Type" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">URL where user may get more information about quoting this product.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="BookingDetailURL" type="URL_Type" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">URL where user may get more information about purchasing this product.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="ProviderDetail" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Container for the name and detailed description of the insurance company offering the product.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ProviderCompany" type="CompanyNameType" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Name of the insurance company offering the product.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ProviderDescription" type="FormattedTextType" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Detailed description of the insurance company.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="UnderwriterDetail" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Container for the name and detailed description of the company underwriting the insurance product.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="UnderwriterCompany" type="CompanyNameType" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Name of the company underwriting the insurance product.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="UnderwriterDescription" type="FormattedTextType" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">Detailed description of the underwriter.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="PlanRestrictions" type="PlanRestrictionType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">Collection of restrictions associated with purchasing this insurance product.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="Featured" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Indicates if plan has been marked as a featured product by the insurance company or 3rd party vendor</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="PreferLevel" type="PreferLevelType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">May be used to indicate how well the plan matches the original search request parameters.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attributeGroup ref="PlanID_Group"/>
										<xs:attributeGroup ref="EffectiveExpireOptionalDateGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">Indicates for how long plan information is valid.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType"/>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
<!-- OTA_InsuranceCommonTypes.xsd --><xs:complexType name="PlanRestrictionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Contains all restrictions to coverage by the quoted or booked plan.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PlanRestriction" maxOccurs="99">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="FreeTextType">
							<xs:attributeGroup ref="OptionalCodeOptionalNameGroup"/>
							<xs:attribute name="CodeContext" type="StringLength1to32" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:attributeGroup name="PlanID_Group">
		<xs:attribute name="PlanID" type="StringLength1to16" use="required"/>
		<xs:attribute name="Name" type="StringLength1to64" use="optional"/>
		<xs:attribute name="Type" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the sub-plan or type of the insurance plan being purchased.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TypeID" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Unique ID for the sub-plan or type of the insurance plan being purchased (if known).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><!-- OTA_SimpleTypes.xsd --><xs:simpleType name="Numeric1to999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 999 inclusive.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="PreferLevelType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify a preference level for something that is or will be requested (e.g. a supplier of a service, a type of service, a form of payment, etc.).
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Only">
				<xs:annotation>
					<xs:documentation xml:lang="en">Preference level that indicates request is only for a specific criterion.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Unacceptable">
				<xs:annotation>
					<xs:documentation xml:lang="en">Preference level that indicates request is unnacceptable for a specific criterion.
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Preferred">
				<xs:annotation>
					<xs:documentation xml:lang="en">Preference level that indicates request is preferred for a specific criterion.
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Preference level that indicates request is required for a specific criterion.
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NoPreference">
				<xs:annotation>
					<xs:documentation xml:lang="en">Preference level that indicates there is no preference.
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="RPH_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">(Reference Place Holder) - an index code to identify an instance in a collection of like items.. For example,  used to assign individual passengers or clients to particular itinerary items.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType><!-- OTA_CommonTypes.xsd --><xs:complexType name="CompanyNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to128">
				<xs:attributeGroup ref="CompanyID_AttributesGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="Division" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The division name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Department" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The department name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate that an error occurred during the processing of an OTA message</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Error element MUST contain the Type attribute that uses a recommended set of values to indicate the error type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Details of the error.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="NodeList" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">An XPath expression that selects all the nodes whose data caused this error.  Further, this expression should have an 	additional contraint which contains the data of the node.  This will provide the offending data back to systems that cannot maintain the original message. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="ErrorsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of errors that occurred during the processing of a message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Error" type="ErrorType" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>An error that occurred during the processing of a message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="FormattedTextSubSectionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide subsection formatted text information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Paragraph" type="ParagraphType" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>Details and content of a paragraph for a formatted text message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="SubTitle" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This attribute may be used to provide a title for a sub-section of the formatted free text.  A sub-section may have multiple related paragraphs of information.  For example, if used to provide driving directions there may be multiple paragraphs, and these paragraphs may be grouped into a sub-section called "Driving from the North".  A second subsection may be titled "Driving from the South", and may contain several paragraphs to describe the driving directions when driving from the south. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SubCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An optional code that may be assigned to this sub-section of formatted free text.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SubSectionNumber" type="Numeric1to999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This attribute may be used when there is a need to number all of the sub-sections of information that is to be presented.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="FormattedTextTextType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides text and indicates whether it is formatted or not.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Formatted" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Textual information, which may be formatted as a line of information, or unformatted, as a paragraph of text.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="LanguageGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">The language in which the text is provided.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="FormattedTextType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Collection of formatted text sub sections.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubSection" type="FormattedTextSubSectionType" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>Subsection formatted text information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Title" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This attribute may be used to provide a title for the formatted free text,
for example, Driving Directions.  Each of the sub sections that are defined
to be a part of the formatted text would provide detailed information about
the subject identified by the title.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Language" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The language in which the content is provided.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="FreeTextType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Textual information to provide descriptions and/or additional information.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="LanguageGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Language of the text.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="ParagraphType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An indication of a new paragraph for a sub-section of a formatted text message.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Text" type="FormattedTextTextType">
				<xs:annotation>
					<xs:documentation>Formatted text content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Image" type="xs:string">
				<xs:annotation>
					<xs:documentation>An image for this paragraph.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>A URL for this paragraph.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListItem">
				<xs:annotation>
					<xs:documentation>Formatted text content and an associated item or sequence number.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="FormattedTextTextType">
							<xs:attribute name="ListItem" type="xs:integer" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Name" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">In many cases the description repeats, this will allow you to define the information that is being sent, typically used when multiple occurrences of ParagraphType are being sent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ParagraphNumber" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The sequence number for the paragraph.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="DateTimeStampGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Creation date time, Creator ID, last modification date time and last modifier ID for the paragraph.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="LanguageGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">The language for this paragraph.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType><xs:complexType name="SuccessType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message. Returning an empty element of this type indicates success.</xs:documentation>
		</xs:annotation>
	</xs:complexType><xs:complexType name="URL_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Web site address, in IETF specified format.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attributeGroup ref="PrivacyGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Allows for control of the sharing of URL data between parties.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="Type" type="StringLength1to16" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines the purpose of the URL address, such as personal, business, public, etc.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="DefaultIndGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Indicates whether or not this is the default URL.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="WarningType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OTA message, but one in which warnings are generated</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="FreeTextType">
				<xs:attribute name="Type" type="OTA_CodeType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">The Warning element MUST contain the Type attribute that uses a recommended set of values to indicate the warning type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  Refer to OTA Code List Error Warning Type (EWT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ErrorWarningAttributeGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Details of the warning.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="RPH" type="RPH_Type" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Reference Place Holder used as an index for this warning.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="WarningsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Collection of warnings.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Warning" type="WarningType" maxOccurs="999">
				<xs:annotation>
					<xs:documentation>Used in conjunction with the Success element to define a business error. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CompanyID_AttributesGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CompanyShortName" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide the company common name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">
Refer to OTA Code List Travel Sector (TVS).
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as DUNS, IATA or internal code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="DateTimeStampGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Creation date time, Creator Id, last modification date time and last Modifier Id.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CreateDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreatorID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">ID of creator. The creator could be a software system identifier or an identifier of an employee resposible for the creation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifyDateTime" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Time stamp of last modification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastModifierID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the last software system or person to modify a record.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PurgeDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Date an item will be purged from a database (e.g., from a live database to an archive).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="DefaultIndGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates that the receiving system should assume the default value if the user specifies no overriding value or action.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DefaultInd" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates a default value should be used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="EffectiveExpireOptionalDateGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to send the effective date and/or expiration date.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EffectiveDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the starting date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExpireDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the ending date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ErrorWarningAttributeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to identify an application error by either text, code, or by an online description and also to give the status, tag, and/or identification of the record that may have caused the error.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShortText" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An abbreviated version of the error in textual format.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this refers to a table of coded values exchanged between applications to identify errors or warnings. Refer to OTA Code List Error Codes (ERR).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocURL" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this URL refers to an online description of the error that occurred.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, recommended values are those enumerated in the OTA_ErrorRS, (NotProcessed | Incomplete | Complete | Unknown) however, the data type is designated as string data, recognizing that trading partners may identify additional status conditions not included in the enumeration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Tag" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute may identify an unknown or misspelled tag that caused an error in processing. It is recommended that the Tag attribute use XPath notation to identify the location of a tag in the event that more than one tag of the same name is present in the document. Alternatively, the tag name alone can be used to identify missing data [Type=ReqFieldMissing].</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RecordID" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If present, this attribute allows for batch processing and the identification of the record that failed amongst a group of records. This value may contain a concatenation of a unique failed transaction ID with specific record(s) associated with that transaction.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="LanguageGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies language.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Language" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Language identification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Continuation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Subsequent">
						<xs:annotation>
							<xs:documentation xml:lang="en">This request message is a subsequent request based on the previous message sent in this transaction.
</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="AltLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the alternate language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="RetransmissionIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to TRUE) only when a message is retransmitted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="OptionalCodeOptionalNameGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">An attribute group to be used when the associated item has an  optional code and an optional name.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Code" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides the code identifying the item.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Name" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The name of an item.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrimaryLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifes the primary language preference for the message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrivacyGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows for control of the sharing of data between parties.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShareSynchInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en"> value="Inherit" Permission for sharing data for synchronization of information held by other travel service providers.							</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShareMarketInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en"> value="Inherit" Permission for sharing data for marketing purposes.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup></xs:schema>
