cmhub-src-develop/public/2007B/FS_OTA_RailBookRQ.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.009" id="OTA2007B">
	
	
	
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_RailBookRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">The Book Request message is used to request that a reservation be created for one or more journies between specified locations  on specific date(s) for a specific number and type of passengers.  </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Point of Sale Identification.  Identification number of the vendor that has made the reservation request and agency number assigned by IATA, ARC, ESRP or TID. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RailBookInfo">
					<xs:annotation>
						<xs:documentation xml:lang="en">Full details on the reservation that is to be created, specifying location information, passenger data and opayment details.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OriginDestinationOptions">
								<xs:annotation>
									<xs:documentation xml:lang="en">A collection of origin to destination journies that are to be included in the reservation.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OriginDestinationOption" maxOccurs="99">
											<xs:annotation>
												<xs:documentation xml:lang="en">Details aboout one specific jouney between this origin and destination location.  This element will be repeated for each journey.  For example, for a round-trip reservation, this element will occur two times.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TrainSegments">
														<xs:annotation>
															<xs:documentation xml:lang="en">A collection of train segements that together provide the journey from origin to destination.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TrainSegment" maxOccurs="9">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">Full details on one specific train segment, including the origin and destination locations for this segment, the requested class of service, and the operating company, if appropriate.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="DepartureStation" type="LocationType">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">Departure point of train segment.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="ArrivalStation" type="LocationType">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">Arrival point of train segment.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="ClassCode" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">A specific code representing one specific class of service.  Such class of service may represent First class, reserved seats, sleeper accommodations, etc.</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:attributeGroup ref="CodeListGroup"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Vendor" type="CompanyNameType" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation xml:lang="en">The marketing train company asscociated with this segment.</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="DepartureDateTime" type="xs:dateTime" use="optional"/>
																		<xs:attribute name="TrainNumber" type="StringLength1to8" use="optional"/>
																		<xs:attribute name="SeatPreference" type="SeatType" use="optional"/>
																		<xs:attribute name="SeatDirection" type="SeatDirectionType" use="optional"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:choice>
								<xs:annotation>
									<xs:documentation xml:lang="en">Allows for the inclusion of either passenger names or simply the number and type of passengers traveling.  The use of names or counts will be according to the Trading Partner Agreement.</xs:documentation>
								</xs:annotation>
								<xs:element name="TravelerNames">
									<xs:annotation>
										<xs:documentation xml:lang="en">A collection of traveler names to be included in the reservation.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="TravelerName" type="PersonNameType" maxOccurs="99">
												<xs:annotation>
													<xs:documentation xml:lang="en">Information on one specific traveler to be included in the reservation.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="TravelerCount" maxOccurs="5">
									<xs:annotation>
										<xs:documentation xml:lang="en">Information on one specific traveler type and the quantity of that type of traveler.  </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="TravelerCountGroup"/>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="RateQualifier" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Indicates the type of fares of interest to the customer, along with any discount number or promotional codes that may affect the fare.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="RateQualifierCoreGroup"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Fulfillment" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Information on the fullfilment of the ticket, that is, who will be issuing the ticket.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DeliveryAddress" type="AddressType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Address to which the ticket is to be delivered.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Name" type="PersonNameType" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en">Name associated with the issuance of the ticket.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PaymentForm" type="PaymentFormType" minOccurs="0" maxOccurs="5">
								<xs:annotation>
									<xs:documentation xml:lang="en">Information of the form(s) of payment to be used to pay for this reservation.  The element repeats to allow for multiple forms of payment to be used, if so required.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
<!-- OTA_SimpleTypes.xsd --><xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="AlphaNumericStringLength1to19">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 19</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,19}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="AlphaNumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="ISO3166">
		<xs:annotation>
			<xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="ListOfStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">List of StringLength1to8.</xs:documentation>
		</xs:annotation>
		<xs:list itemType="StringLength1to8"/>
	</xs:simpleType><xs:simpleType name="MMYYDate">
		<xs:annotation>
			<xs:documentation xml:lang="en">Month and year information.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[1-9]|1[0-2])[0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="Numeric0to999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 0 to 999 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to19">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 19.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,19}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 5</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="NumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="PaymentCardCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The 2 digit code used that references the credit card used.</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="UpperCaseAlphaLength1to2">
					<xs:enumeration value="AX">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					American Express 
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="BC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Bank Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="BL">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Carte Bleu                  
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="CB">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Carte Blanche                  
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="DN">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Diners Club
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="DS">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Discover Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="EC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					 Eurocard
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="JC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Japanese Credit Bureau Credit Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="MC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Master Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="TP">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					 Universal Air Travel Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="VI">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					 Visa
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en">This is intended to be used when the above enumeration list does not meet your needs. </xs:documentation>
				</xs:annotation>
				<xs:restriction base="UpperCaseAlphaLength1to2"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType><xs:simpleType name="RPH_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">(Reference Place Holder) - an index code to identify an instance in a collection of like items.. For example,  used to assign individual passengers or clients to particular itinerary items.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="RatePeriodSimpleType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The RatePeriodSimpleType simple type defines a set of valid values for the type of rate that may be applied.  Typically rates differ based upon the duration, and the actual rate is then expressed in terms of the period of the rental.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Hourly"/>
			<xs:enumeration value="Daily"/>
			<xs:enumeration value="Weekly"/>
			<xs:enumeration value="Monthly"/>
			<xs:enumeration value="WeekendDay"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="Package">
				<xs:annotation>
					<xs:documentation xml:lang="en">The rate period is based on the package.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Bundle">
				<xs:annotation>
					<xs:documentation xml:lang="en">The rate is the same regardless of the number of days the vehicle is rented</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Total">
				<xs:annotation>
					<xs:documentation xml:lang="en">The rate is the total, no specific rate period.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="SeatDirectionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the orientation of a seat relative to the direction of  travel.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Facing"/>
			<xs:enumeration value="Back"/>
			<xs:enumeration value="Airline"/>
			<xs:enumeration value="Lateral"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="SeatType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the position of a seat, e.g. Window, Aisle etc. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Window"/>
			<xs:enumeration value="Aisle"/>
			<xs:enumeration value="Table"/>
			<xs:enumeration value="Middle"/>
			<xs:enumeration value="Individual"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StateProvCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The standard code or abbreviation for the state, province, or region</xs:documentation>
		</xs:annotation>
		<xs:restriction base="StringLength1to8">
			<xs:minLength value="2"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to255">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 255</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaLength1to2">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 2 (for letter codes)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaNumericLength2to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 2 to 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2,3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaNumericLength3to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 3 to 5.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3,5}"/>
		</xs:restriction>
	</xs:simpleType><!-- OTA_CommonTypes.xsd --><xs:complexType name="AddressInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Information about an address that identifies a location for a specific purposes.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AddressType">
				<xs:attributeGroup ref="DefaultIndGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Indicates whether or not this is the default address.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="UseType" type="OTA_CodeType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Describes the use of the address (e.g. mailing, delivery, billing, etc.). Refer to OTA Code List Address Use Type (AUT).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="RPH" type="RPH_Type" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used elsewhere in the message to reference this specific address.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides address information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StreetNmbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">May contain the street number and optionally the street name.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StreetNmbrType">
							<xs:attribute name="StreetNmbrSuffix" type="StringLength1to8" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Usually a letter right after the street number (A in 66-A, B in 123-B etc).</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="StreetDirection" type="StringLength1to8" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Street direction of an address (e.g., N, E, S, NW, SW). 

</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="RuralRouteNmbr" type="NumericStringLength1to5" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Numerical equivalent of a rural township as defined within a given area (e.g., 12, 99).</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BldgRoom" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">Building name, room, apartment, or suite number.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to64">
							<xs:attribute name="BldgNameIndicator" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">When true, the information is a building name.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddressLine" type="StringLength1to255" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">When the address is unformatted (FormattedInd="false") these lines will contain free form address details. When the address is formatted and street number and street name must be sent independently, the street number will be sent using StreetNmbr, and the street name will be sent in the first AddressLine occurrence.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" type="StringLength1to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">City (e.g., Dublin), town, or postal station (i.e., a postal service territory, often used in a military address).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="StringLength1to16" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Post Office Code number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="County" type="StringLength1to32" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">County or Region Name (e.g., Fairfax).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateProv" type="StateProvType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">State or Province name (e.g., Texas).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="CountryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Country name (e.g., Ireland).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="FormattedInd">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies if the associated data is formatted or not.  When true, then it is formatted; when false, then not formatted.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of address information between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="Type" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the type of address (e.g. home, business, other). Refer to OTA Code List Communication Location Type (CLT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="BankAcctType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Customer bank accounts for payments, either for paper checks or electronic funds transfer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BankAcctName" type="StringLength1to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The name the account is held under.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of bank account information between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="BankID" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code assigned by authorities to financial institutions; sometimes called bank routing number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AcctType" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Describes the bank account used for financing travel (e.g., checking, savings, investment).
					</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BankAcctNumber" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifier for the account assigned by the bank.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChecksAcceptedInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">If true, checks are accepted. If false, checks are not accepted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="CompanyNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to128">
				<xs:attributeGroup ref="CompanyID_AttributesGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="Division" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The division name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Department" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The department name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="CountryNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The name or code of a country (e.g. as used in an address or to specify citizenship of a traveller).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="Code" type="ISO3166" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">ISO 3166 code for a country.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="DirectBillType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Company name and location for sending invoice for remittances for travel services.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyName" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Company name to whom remittance should be directed.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="CompanyNameType">
							<xs:attribute name="ContactName" type="StringLength1to64" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">This may be used to pass the name of the contact at the company for which the direct bill applies.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Address" type="AddressInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Address where remittance should be directed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of direct bill data between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="DirectBill_ID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifier for the organization to be billed directly for travel services.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BillingNumber" type="StringLength0to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number assigned by the subscriber for billing reconciliation of a corporate account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="LocationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code and optional string to describe a location point.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="LocationGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">A code identifying a location.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="POS_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Point of Sale (POS) is the details identifying the party or connection channel making the request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Source" type="SourceType" maxOccurs="10">
				<xs:annotation>
					<xs:documentation xml:lang="en">This holds details regarding the requestor. It may be repeated to also accommodate the delivery systems.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="PaymentCardType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identification about a specific credit card</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardHolderName" type="StringLength1to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the card holder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardIssuerName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Issuer of the card.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="IssuerNameGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Name of bank or organization issuing the card (e.g., alumni association, bank, fraternal organization).</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="Address" type="AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Card holder's address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of payment card data between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="CardType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the type of magnetic striped card. Refer to OTA Code ListCard Type (CDT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CardCode" type="PaymentCardCodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The 2 character code of the credit card issuer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CardNumber" type="NumericStringLength1to19" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Credit card number embossed on the card.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SeriesCode" type="NumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Verification digits printed on the card following the embossed number. This may also accommodate the customer identification/batch number (CID), card verification value (CVV2 ), card validation code number (CVC2) on credit card.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="PaymentCardDateGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Date the card becomes valid for use (optional) and the date the card expires (required) in ISO 8601 prescribed format.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="MaskedCardNumber" type="AlphaNumericStringLength1to19" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">May be used to send a concealed credit card number (e.g., xxxxxxxxxxxx9922).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CardHolderRPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a reference pointer that links the payment card to the payment card holder.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExtendPaymentIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, the credit card company is requested to delay the date on which the amount of this transaction is applied to the customer's account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="PaymentFormType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Ways of providing funds for travel by the individual.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0">
			<xs:element name="PaymentCard" type="PaymentCardType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of a debit or credit card.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankAcct" type="BankAcctType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of a bank account. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DirectBill" type="DirectBillType">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of a direct billing arrangement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Voucher">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of a paper or electronic document indicating prepayment.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="VoucherGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">The effective date, expiry date and series code of the voucher.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
					<xs:attribute name="BillingNumber" type="StringLength1to64" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Reference of the billing account which handles the payment transaction.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SupplierIdentifier" type="StringLength1to64" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Unique identifier of the electronic voucher, created by the supplier.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Identifier" type="StringLength1to64" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Unique identifier of the electronic voucher.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ValueType" type="StringLength1to32" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines the type of voucher (e.g., full credit or partial credit).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ElectronicIndicator" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">When true, indicates the voucher is electronic.  An E-voucher is a value document issued by the Travel Agent for the customer. The e-voucher can be used as a proof of reservation, but more normally, as a full-payment or partial payment. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="LoyaltyRedemption">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of a loyalty redemption arrangement. This is normally miles or points. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LoyaltyCertificate" minOccurs="0" maxOccurs="9">
							<xs:annotation>
								<xs:documentation xml:lang="en">A certificate may be needed in order to redeem miles or points. Certificates may be used in combination with each other as part of a reservation.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="LoyaltyCertificateGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identifies the loyalty scheme, programs and promotions within the scheme, membership reference, format of the certificate, the number of nights it can be used and its current status.</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="LoyaltyCertificateNumberGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Identifies the Loyalty scheme,  programs and promotions within the scheme, membership reference, form factor used by the certificate, the number of nights it can be used for and its current status.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
					<xs:attributeGroup ref="PromotionCodeGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Used to provide a promotion code of the loyalty redemption.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
					<xs:attribute name="RedemptionQuantity" type="xs:positiveInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The quantity of loyalty units being redeemed.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="MiscChargeOrder">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of a miscellaneous charge order (MCO).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="TicketNumber" type="StringLength1to32">
						<xs:annotation>
							<xs:documentation xml:lang="en">The ticket number of the miscellaneous charge order (MCO).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Cash">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used to indicate payment in cash.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="CashIndicator" type="xs:boolean" use="optional" default="true">
						<xs:annotation>
							<xs:documentation xml:lang="en">If true, this indicates cash is being used.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of payment form data between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="CostCenterID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference to identify the billing department for allocating cost of travel to company account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RPH" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides a reference to a specific form of payment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PaymentTransactionTypeCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is used to indicate either a charge or reserve (deposit).</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="charge">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that an actual payment has been made.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="reserve">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that a hold for the indicated amount has been placed on a credit card or that a cash amount has been taken from the customer to guarantee final payment.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType><xs:complexType name="PersonNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This provides name information for a person.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamePrefix" type="StringLength1to16" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Salutation of honorific. (e.g., Mr. Mrs., Ms., Miss, Dr.) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GivenName" type="StringLength1to64" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Given name, first name or names</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="StringLength1to64" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">The middle name of the person name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurnamePrefix" type="StringLength1to16" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">e.g "van der", "von", "de" </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Surname" type="StringLength1to64">
				<xs:annotation>
					<xs:documentation xml:lang="en">Family name, last name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameSuffix" type="StringLength1to16" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hold various name suffixes and letters (e.g. Jr., Sr., III, Ret., Esq.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTitle" type="StringLength1to16" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Degree or honors (e.g., Ph.D., M.D.)   </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="PrivacyGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Allows for control of the sharing of person name data between parties.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="NameType" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Type of name of the individual, such as former, nickname, alternate or alias name. Refer to OTA Code List Name Type (NAM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="SourceType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides information on the source of a request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestorID" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">An identifier of the entity making the request  (e.g. ATA/IATA/ID number, Electronic Reservation Service Provider (ERSP), Association of British Travel Agents (ABTA)). </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="UniqueID_Type">
							<xs:attribute name="MessagePassword" type="StringLength1to16" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">This password provides an additional level of security that the recipient can use to validate the sending party's authority to use the message.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Position" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the latitude and longitude of a source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="PositionGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Used to specify the geographic coordinates of the source of the request.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="BookingChannel" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the booking channel type and whether it is the primary means of connectivity of the source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Identifies the company that is associated with the booking channel.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="BookingChannelGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the booking channel type and whether it is the primary means of connectivity of the source.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AgentSine" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the party within the requesting entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PseudoCityCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An identification code assigned to an office/agency by a reservation system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCountry" type="ISO3166" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The country code of the requesting party.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCurrency" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The currency code in which the reservation will be ticketed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AgentDutyCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An authority code assigned to a requestor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirlineVendorID" type="UpperCaseAlphaNumericLength2to3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA assigned airline code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirportCode" type="UpperCaseAlphaNumericLength3to5" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA assigned airport code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FirstDepartPoint" type="StringLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The point of first departure in a trip.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ERSP_UserID" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Electronic Reservation Service Provider (ERSP) assigned identifier used to identify the individual using the ERSP system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TerminalID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the electronic address of the device from which information is entered.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="StateProvType">
		<xs:annotation>
			<xs:documentation xml:lang="en">State, province, or region name or code needed to identify location.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="StateCode" type="StateProvCodeType">
					<xs:annotation>
						<xs:documentation xml:lang="en">The standard code or abbreviation for the state, province, or region.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="StreetNmbrType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Street name; number on street.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to64">
				<xs:attribute name="PO_Box" type="StringLength1to16">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines a Post Office Box number.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="UniqueID_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">An identifier used to uniquely reference an object in a system (e.g. an airline reservation reference, customer profile reference, booking confirmation number, or a reference to a previous availability quote). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the company that is associated with the UniqueID.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="UniqueID_Group"/>
	</xs:complexType><xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="BookingChannelGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies the booking channel types and whether it is the primary means of connectivity of the source.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The type of booking channel (e.g. Global Distribution System (GDS), Alternative Distribution System (ADS), Sales and Catering System (SCS), Property Management System (PMS), Central Reservation System (CRS), Tour Operator System (TOS), Internet and ALL). Refer to OTA Code List Booking Channel Type (BCT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Primary" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates whether the enumerated booking channel is the primary means of connectivity used by the source.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify a code and the context of the code.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Code" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Any code used to specify an item, for example, type of traveler, service code, room amenity, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the source authority for the code. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CodeListGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify a code and its associated attributes; meaning is derived from actual use.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="CodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to specify a code and the context of the code.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="URI" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the location of the code table</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="QuantityGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the number of items that are identified by the Code (e.g., 2 adults, 5 first class seats).</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="CompanyID_AttributesGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CompanyShortName" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide the company common name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">
Refer to OTA Code List Travel Sector (TVS).
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as DUNS, IATA or internal code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="DefaultIndGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates that the receiving system should assume the default value if the user specifies no overriding value or action.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DefaultInd" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates a default value should be used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="EffectiveExpireOptionalDateGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to send the effective date and/or expiration date.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EffectiveDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the starting date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExpireDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the ending date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="FormattedInd">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies if the associated data is formatted into its individual pieces, or exists as a single entity.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FormattedInd" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies if the associated data is formatted or not.  When true, then it is formatted; when false, then not formatted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" type="StringLength1to32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system.  The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ID_OptionalGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide an optional unique identifier.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system.  The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="IssuerNameGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Name of bank or organization issuing the card (e.g., alumni association, bank, fraternal organization, etc.).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="BankID" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code of bank issuing the card.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="LocationGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">A code identifying a location.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LocationCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code used to identify a location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" default="IATA">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code (e.g., IATA, ARC, or internal code).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="LoyaltyCertificateGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the Loyalty Program, membership, form factor used by the certificate and its current status</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="ID_OptionalGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the individual program or promotion within a loyalty scheme</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="ID_Context" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the source of the code that identifies program or promotion within a loyalty scheme</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="LoyaltyCertificateNumberGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the unique certificate number and the loyalty program and the membership ID associated with this certificate</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="EffectiveExpireOptionalDateGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies either the date range when the Certificate is valid or the dates against which the certificate is being applied</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="NmbrOfNights" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of nights of the hotel stay that are used to calculate the redemption amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Format" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates what form the certificate is in e.g. Paper or Electronic</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Paper"/>
					<xs:enumeration value="Electronic"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Status" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to define the status of the certificate e.g. Available, Voided, Cancelled, Reserved, Used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="LoyaltyCertificateNumberGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a loyalty certificate.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CertificateNumber" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The loyalty redemption certificate identifier.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MemberNumber" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Unique identifier of the member in the program.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ProgramName" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This identifies the loyalty program.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Continuation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Subsequent">
						<xs:annotation>
							<xs:documentation xml:lang="en">This request message is a subsequent request based on the previous message sent in this transaction.
</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="AltLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the alternate language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="RetransmissionIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to TRUE) only when a message is retransmitted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PaymentCardDateGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates the start and end date for a payment card.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EffectiveDate" type="MMYYDate" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the starting date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExpireDate" type="MMYYDate" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the ending date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PositionGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify the geographic coordinates of a location.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Latitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian north or south of the equator.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Longitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian east or west of the prime meridian.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Altitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The height of an item, typically above sea level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AltitudeUnitOfMeasureCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides the unit of measure for the altitude (e.g., feet, meters, miles, kilometers). Refer to OTA Code List Unit of Measure Code (UOM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrimaryLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifes the primary language preference for the message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrivacyGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows for control of the sharing of data between parties.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ShareSynchInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en"> value="Inherit" Permission for sharing data for synchronization of information held by other travel service providers.							</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShareMarketInd" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en"> value="Inherit" Permission for sharing data for marketing purposes.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
					<xs:enumeration value="Inherit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PromotionCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide a promotion code.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PromotionCode" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Promotion code is the identifier used by the host to link directly with a specific named advertising campaign. By including the required code, the client is able to gain access to special offers which may have been created for a specifically targeted group via a CRM system or for a wider advertising campaign using Television or press adverts.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PromotionVendorCode" type="ListOfStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">List of the vendor codes associated with a promotion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="QuantityGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to define a quantity.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Quantity" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to define the quantity for an associated element or attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="RateQualifierCoreGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines the rate information that is common to all transactions.  Such information may include rate codes, rate type, promotional codes, etc.  This information may be used to determine the rate that is made available.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="TravelPurpose" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate the purpose, whether for business, personal or other. Refer to OTA Code List Travel Purpose (TVP).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RateCategory" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The RateCategory attribute defines a set of valid values for the category of a rate.  Typically rates are offered as either Leisure rates or Business (Corporate) rates, with a business rate usually including additional costs such as the cost of insurance, etc.  This set of values defines the rate categories. Refer to OTA Code List Rate Category(RTC).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CorpDiscountNmbr" type="AlphaNumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the vendor specific code used to identify a special rate associated with a specific organization.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="PromotionCodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Promotion code is the identifier used by the host to link directly with a specific named advertising campaign. By including the required code, the client is able to gain access to special offers which may have been created for a specifically targeted group via a CRM system or for a wider advertising campaign using Television or press adverts.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="RateQualifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the vendor specific code for rate codes (e.g. WES, 2A, DLY00).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RatePeriod" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The RatePeriod attribute defines the type of rate that may be applied.  For example, typically car rental rates differ based upon the duration of the rental, and the actual rate is then expressed in terms of the period of the rental.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="RatePeriodSimpleType"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="GuaranteedInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, only guaranteed rates should be returned.  When false, all rates should be returned</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="TravelerCountGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines information on the number of travelers of a specific type (e.g.  a driver type can be either one of a defined set, Adult, YoungDriver, YoungerDriver, or it may be a code that is acceptable to both Trading Partners).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Age" type="Numeric0to999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is used to specify age in years.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Refer to OTA Code List Age Qualifying Code (AQC) or use StringLength1to8 with CodeContext to use a non-OTA code.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="StringLength1to8 OTA_CodeType"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the source authority for the code. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="URI" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the location of the code table</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="QuantityGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the number of travelers.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="UniqueID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides unique identification information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="URL" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation xml:lang="en">URL that identifies the location associated with the record identified by the UniqueID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference to the type of object defined by the UniqueID element. Refer to OTA Code List Unique ID Type (UIT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Instance" type="StringLength1to32">
			<xs:annotation>
				<xs:documentation xml:lang="en">The identification of a record as it exists at a point in time. An instance is used in update messages where the sender must assure the server that the update sent refers to the most recent modification level of the object being updated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="ID_Context" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the source of the identifier (e.g., IATA, ABTA).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="VoucherGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">A form of payment using a voucher or coupon.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="EffectiveExpireOptionalDateGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date when a voucher becomes valid for use, if applicable, and the the date when a voucher or series of coupons expires and is no longer valid.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="SeriesCode" type="StringLength1to32">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identification of a series of coupons or vouchers identified by serial number(s).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup></xs:schema>
