cmhub-src-develop/public/2007B/FS_OTA_RailAvailRQ.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.009" id="OTA2007B">
	
	
	
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_RailAvailRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">
The Availability Request message requests Train Availability for a station pair on a specific date for a specific number and type of passengers. Optional request information can include:
- Time / Time Window
- Connecting cities.
- Client Preferences.
The request can be narrowed to request availability for a specific train .  The ResponseType attribute allows the user to specify that the response be restricted to Schedules,  Fares or full Availability.  If the ResponseType is 'Fares', the response will comprise a list of all fares from the Origin to the Destination.  If  the ResponseType is 'Schedules', the response will comprise a list of all train departures from the Origin to the Destination.  If the ResponseType is 'Availability', the response will comprise a list of available train departures from the Origin to the Destination and,  where the responding system has this facility, valid fares available on those departures.
</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Point of Sale Identification.  Identification number of the vendor that has made the rail availability request and agency number assigned by IATA, ARC, ESRP or TID. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RailAvailInfo">
					<xs:annotation>
						<xs:documentation xml:lang="en">Specifies the passenger requirements for an Availability search.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OriginDestinationInformation" type="OriginDestinationInformationType">
								<xs:annotation>
									<xs:documentation xml:lang="en">Information on the locations between which availability is to be checked.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PassengerType" minOccurs="0" maxOccurs="5">
								<xs:annotation>
									<xs:documentation xml:lang="en">Identifies the number of passengers by category.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="TravelerCountGroup"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReturnDateTime" type="TravelDateTimeType" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Indicates the date and time search criteria for the return journey.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RailPrefs" type="RailAvailPrefsType" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the preferences qualifying the availability request.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FareQualifier" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Indicates the type of fares of interest to the customer, along with any discount number or promotional codes that may affect the fare.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="RateQualifierCoreGroup"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="MaxChanges" type="xs:nonNegativeInteger" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en"> Indicates the maximum number of connections (if 0, then direct)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TrainNumber" type="StringLength1to8" use="optional"/>
						<xs:attribute name="Class" type="StringLength1to8" use="optional"/>
						<xs:attribute name="BulletinRequired" type="xs:boolean" use="optional" default="true"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
			<xs:attributeGroup ref="MaxResponsesGroup">
				<xs:annotation>
					<xs:documentation xml:lang="en"> Maximum number of reponses desired in the reponse message.</xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
			<xs:attribute name="ResponseType" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Indicates whether the response should be restricted to Fares or Schedules or provide Availability including, where applicable, Fares.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Fares"/>
						<xs:enumeration value="Schedules"/>
						<xs:enumeration value="Availability"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
<!-- OTA_RailCommonTypes.xsd --><xs:complexType name="RailAmenityType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The RailAmenityType complex type defines the information used to describe a specific amenity and the associated preference level.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RailAmenity" maxOccurs="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Describes a specific amenity along with the preference for that amenity.  Preference may relect inclusion or exclusion.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="CodeListGroup"/>
					<xs:attributeGroup ref="PreferLevelGroup"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="RailAvailPrefsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The RailAvailPrefsType complex type defines the infornation that is used to express the preferences when requesting rail avilability information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorPref" type="CompanyNamePrefType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Describes any preferences in terms of the company operating the train service. Preference may reflect inclusion or exclusion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportModes" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation xml:lang="en">Describes any preferences in terms of the transporation that may be used in the itinerary.  For example, some journies may require that a bus be used to connect between two locations.  Preference may reflect inclusion or exclusion.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="CodeListGroup"/>
					<xs:attributeGroup ref="PreferLevelGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="RailAmenities" type="RailAmenityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the amenities qualifying the availability request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><!-- OTA_CommonPrefs.xsd --><xs:complexType name="CompanyNamePrefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a preferred company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="CompanyNameType">
				<xs:attributeGroup ref="PreferLevelGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Used to specify the preference level for this company.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><!-- OTA_SimpleTypes.xsd --><xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="AlphaNumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="DateOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A construct to validate either a date or a dateTime value.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:dateTime"/>
	</xs:simpleType><xs:simpleType name="ISO3166">
		<xs:annotation>
			<xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="ListOfStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">List of StringLength1to8.</xs:documentation>
		</xs:annotation>
		<xs:list itemType="StringLength1to8"/>
	</xs:simpleType><xs:simpleType name="Numeric0to999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 0 to 999 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="PreferLevelType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify a preference level for something that is or will be requested (e.g. a supplier of a service, a type of service, a form of payment, etc.).
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Only">
				<xs:annotation>
					<xs:documentation xml:lang="en">Preference level that indicates request is only for a specific criterion.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Unacceptable">
				<xs:annotation>
					<xs:documentation xml:lang="en">Preference level that indicates request is unnacceptable for a specific criterion.
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Preferred">
				<xs:annotation>
					<xs:documentation xml:lang="en">Preference level that indicates request is preferred for a specific criterion.
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Preference level that indicates request is required for a specific criterion.
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NoPreference">
				<xs:annotation>
					<xs:documentation xml:lang="en">Preference level that indicates there is no preference.
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="RatePeriodSimpleType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The RatePeriodSimpleType simple type defines a set of valid values for the type of rate that may be applied.  Typically rates differ based upon the duration, and the actual rate is then expressed in terms of the period of the rental.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Hourly"/>
			<xs:enumeration value="Daily"/>
			<xs:enumeration value="Weekly"/>
			<xs:enumeration value="Monthly"/>
			<xs:enumeration value="WeekendDay"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="Package">
				<xs:annotation>
					<xs:documentation xml:lang="en">The rate period is based on the package.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Bundle">
				<xs:annotation>
					<xs:documentation xml:lang="en">The rate is the same regardless of the number of days the vehicle is rented</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Total">
				<xs:annotation>
					<xs:documentation xml:lang="en">The rate is the total, no specific rate period.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength0to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="StringLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaNumericLength2to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 2 to 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2,3}"/>
		</xs:restriction>
	</xs:simpleType><xs:simpleType name="UpperCaseAlphaNumericLength3to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 3 to 5.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3,5}"/>
		</xs:restriction>
	</xs:simpleType><!-- OTA_CommonTypes.xsd --><xs:complexType name="CompanyNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="StringLength0to128">
				<xs:attributeGroup ref="CompanyID_AttributesGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
				<xs:attribute name="Division" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The division name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Department" type="StringLength1to32" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The department name or ID with which the contact is associated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="ConnectionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">To specify connection locations, preference level for each, min connection time, and whether location is specified for stopping or changing.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConnectionLocation" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>Specifies a connection location, preference level, min connection time, and whether the location is allowed for stopping or changing.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="LocationType">
							<xs:attribute name="Inclusive" type="xs:boolean" use="optional" default="true">
								<xs:annotation>
									<xs:documentation xml:lang="en">When true, indicates the location is acceptable for a connection. When false  the location should not be included for a connection.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="PreferLevelGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">The preference level for the connection point - only, unacceptable, 	preferred.					</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="MinChangeTime" type="xs:nonNegativeInteger" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Number of minutes between connections.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="ConnectionInfo" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies whether a connection is for a stopover or a change of flights.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Via"/>
										<xs:enumeration value="Stop"/>
										<xs:enumeration value="Change"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="MultiAirportCityInd" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">If true, other airports within this city may be considered (e.g., EWR, JFK when origin location is LGA.)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="LocationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Code and optional string to describe a location point.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="LocationGroup">
					<xs:annotation>
						<xs:documentation xml:lang="en">A code identifying a location.</xs:documentation>
					</xs:annotation>
				</xs:attributeGroup>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="OriginDestinationInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Origin and Destination location, and time information for the request. Also includes the ability to specify a connection location for the search.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TravelDateTimeType">
				<xs:sequence>
					<xs:element name="OriginLocation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Travel Origin Location - for example, air uses the IATA 3 letter code.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="LocationType">
									<xs:attribute name="MultiAirportCityInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">If true, other airports within this city may be considered (i.e., EWR, JFK when origin location is LGA.)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="AlternateLocationInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">If true, alternate locations may be considered.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="DestinationLocation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Travel Destination Location - for example, air uses the IATA 3 letter code.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="LocationType">
									<xs:attribute name="MultiAirportCityInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">If true, other airports within this city may be considered (i.e., EWR, JFK when origin location is LGA.)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="AlternateLocationInd" type="xs:boolean" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">If true, alternate locations may be considered.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ConnectionLocations" type="ConnectionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Travel Connection Location - for example, air uses the IATA 3 letter code.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="POS_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Point of Sale (POS) is the details identifying the party or connection channel making the request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Source" type="SourceType" maxOccurs="10">
				<xs:annotation>
					<xs:documentation xml:lang="en">This holds details regarding the requestor. It may be repeated to also accommodate the delivery systems.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="SourceType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides information on the source of a request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestorID" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">An identifier of the entity making the request  (e.g. ATA/IATA/ID number, Electronic Reservation Service Provider (ERSP), Association of British Travel Agents (ABTA)). </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="UniqueID_Type">
							<xs:attribute name="MessagePassword" type="StringLength1to16" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">This password provides an additional level of security that the recipient can use to validate the sending party's authority to use the message.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Position" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the latitude and longitude of a source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="PositionGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Used to specify the geographic coordinates of the source of the request.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
			<xs:element name="BookingChannel" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the booking channel type and whether it is the primary means of connectivity of the source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Identifies the company that is associated with the booking channel.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="BookingChannelGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies the booking channel type and whether it is the primary means of connectivity of the source.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AgentSine" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the party within the requesting entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PseudoCityCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An identification code assigned to an office/agency by a reservation system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCountry" type="ISO3166" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The country code of the requesting party.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCurrency" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The currency code in which the reservation will be ticketed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AgentDutyCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An authority code assigned to a requestor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirlineVendorID" type="UpperCaseAlphaNumericLength2to3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA assigned airline code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirportCode" type="UpperCaseAlphaNumericLength3to5" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA assigned airport code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FirstDepartPoint" type="StringLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The point of first departure in a trip.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ERSP_UserID" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Electronic Reservation Service Provider (ERSP) assigned identifier used to identify the individual using the ERSP system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TerminalID" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the electronic address of the device from which information is entered.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType><xs:complexType name="TimeInstantType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a time window.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DateOrDateTimeType">
				<xs:attribute name="WindowBefore" type="xs:duration" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">A period of time that can be applied to another time resulting in an earlier range of time.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="WindowAfter" type="xs:duration" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">A period of time that can be applied to another time resulting in a later range of time.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CrossDateAllowedIndicator" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">When true the requested period may extend over the previous or following day. When false, the search period is restricted to the date specified. Normally used when the window duration is in hours.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType name="TravelDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date and time of trip that allows specifying a time window before and after the given date.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="DepartureDateTime" type="TimeInstantType">
				<xs:annotation>
					<xs:documentation>The departure date and optionally a time period that can be applied before and/or after the departure date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalDateTime" type="TimeInstantType">
				<xs:annotation>
					<xs:documentation>The arrival date and optionally a time period that can be applied before and/or after the arrival date.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType><xs:complexType name="UniqueID_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">An identifier used to uniquely reference an object in a system (e.g. an airline reservation reference, customer profile reference, booking confirmation number, or a reference to a previous availability quote). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Identifies the company that is associated with the UniqueID.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="UniqueID_Group"/>
	</xs:complexType><xs:attributeGroup name="AltLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AltLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="BookingChannelGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies the booking channel types and whether it is the primary means of connectivity of the source.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The type of booking channel (e.g. Global Distribution System (GDS), Alternative Distribution System (ADS), Sales and Catering System (SCS), Property Management System (PMS), Central Reservation System (CRS), Tour Operator System (TOS), Internet and ALL). Refer to OTA Code List Booking Channel Type (BCT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Primary" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates whether the enumerated booking channel is the primary means of connectivity used by the source.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify a code and the context of the code.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Code" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Any code used to specify an item, for example, type of traveler, service code, room amenity, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the source authority for the code. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="CodeListGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify a code and its associated attributes; meaning is derived from actual use.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="CodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to specify a code and the context of the code.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="URI" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the location of the code table</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="QuantityGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the number of items that are identified by the Code (e.g., 2 adults, 5 first class seats).</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="CompanyID_AttributesGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides detailed information on a company.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CompanyShortName" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide the company common name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">
Refer to OTA Code List Travel Sector (TVS).
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code, such as DUNS, IATA or internal code, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="ID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" type="StringLength1to32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifying value assigned by the creating system.  The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="LocationGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">A code identifying a location.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="LocationCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code used to identify a location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" default="IATA">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the context of the identifying code (e.g., IATA, ARC, or internal code).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="MaxResponsesGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify the maximum number of responses to a request.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="MaxResponses" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A positive integer value that indicates the maximum number of responses desired in the return.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="OTA_PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="EchoToken" type="StringLength1to128" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-20T13:59:38Z).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Target" use="optional" default="Production">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate whether the request is for the Test or Production system.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionStatusCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages. </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Start">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="End">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Rollback">
						<xs:annotation>
							<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="InSeries">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Continuation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Subsequent">
						<xs:annotation>
							<xs:documentation xml:lang="en">This request message is a subsequent request based on the previous message sent in this transaction.
</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="PrimaryLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="AltLangID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the alternate language for the message.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="RetransmissionIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to TRUE) only when a message is retransmitted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PositionGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to specify the geographic coordinates of a location.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Latitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian north or south of the equator.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Longitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The measure of the angular distance on a meridian east or west of the prime meridian.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Altitude" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The height of an item, typically above sea level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AltitudeUnitOfMeasureCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides the unit of measure for the altitude (e.g., feet, meters, miles, kilometers). Refer to OTA Code List Unit of Measure Code (UOM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PreferLevelGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to indicate a level of preference for an associated item (i.e., only, unacceptable, preferred).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PreferLevel" type="PreferLevelType" use="optional" default="Preferred">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate a level of preference for an associated item.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PrimaryLangID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifes the primary language preference for the message.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="PromotionCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to provide a promotion code.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PromotionCode" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Promotion code is the identifier used by the host to link directly with a specific named advertising campaign. By including the required code, the client is able to gain access to special offers which may have been created for a specifically targeted group via a CRM system or for a wider advertising campaign using Television or press adverts.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PromotionVendorCode" type="ListOfStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">List of the vendor codes associated with a promotion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="QuantityGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to define a quantity.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Quantity" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to define the quantity for an associated element or attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="RateQualifierCoreGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines the rate information that is common to all transactions.  Such information may include rate codes, rate type, promotional codes, etc.  This information may be used to determine the rate that is made available.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="TravelPurpose" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to indicate the purpose, whether for business, personal or other. Refer to OTA Code List Travel Purpose (TVP).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RateCategory" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The RateCategory attribute defines a set of valid values for the category of a rate.  Typically rates are offered as either Leisure rates or Business (Corporate) rates, with a business rate usually including additional costs such as the cost of insurance, etc.  This set of values defines the rate categories. Refer to OTA Code List Rate Category(RTC).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CorpDiscountNmbr" type="AlphaNumericStringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the vendor specific code used to identify a special rate associated with a specific organization.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="PromotionCodeGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Promotion code is the identifier used by the host to link directly with a specific named advertising campaign. By including the required code, the client is able to gain access to special offers which may have been created for a specifically targeted group via a CRM system or for a wider advertising campaign using Television or press adverts.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="RateQualifier" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the vendor specific code for rate codes (e.g. WES, 2A, DLY00).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RatePeriod" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The RatePeriod attribute defines the type of rate that may be applied.  For example, typically car rental rates differ based upon the duration of the rental, and the actual rate is then expressed in terms of the period of the rental.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="RatePeriodSimpleType"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="GuaranteedInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, only guaranteed rates should be returned.  When false, all rates should be returned</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup><xs:attributeGroup name="TravelerCountGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines information on the number of travelers of a specific type (e.g.  a driver type can be either one of a defined set, Adult, YoungDriver, YoungerDriver, or it may be a code that is acceptable to both Trading Partners).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Age" type="Numeric0to999" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is used to specify age in years.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Refer to OTA Code List Age Qualifying Code (AQC) or use StringLength1to8 with CodeContext to use a non-OTA code.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="StringLength1to8 OTA_CodeType"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the source authority for the code. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="URI" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the location of the code table</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="QuantityGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Specifies the number of travelers.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup><xs:attributeGroup name="UniqueID_Group">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides unique identification information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="URL" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation xml:lang="en">URL that identifies the location associated with the record identified by the UniqueID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="OTA_CodeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">A reference to the type of object defined by the UniqueID element. Refer to OTA Code List Unique ID Type (UIT).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Instance" type="StringLength1to32">
			<xs:annotation>
				<xs:documentation xml:lang="en">The identification of a record as it exists at a point in time. An instance is used in update messages where the sender must assure the server that the update sent refers to the most recent modification level of the object being updated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ID_Group">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide a required unique identifier.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="ID_Context" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to identify the source of the identifier (e.g., IATA, ABTA).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup></xs:schema>
